[2020-03-12 08:34] #295 closed

[2020-03-12 09:28] bvschaik commented on #295
Thanks! Korean support is now available in the regular development builds of Julius.

You can get the updated language files and the font file [here](https://bintray.com/bvschaik/caesar3-patches/korean).

[2020-03-12 09:38] fetchinist commented on #295
Thank you very much!

[2020-03-12 18:12] bvschaik commented on #321
And here are the [font files](https://github.com/bvschaik/julius/files/4325770/C3_fonts.zip) with the large title fonts also replaced. Could you test them out?

[2020-03-13 12:24] crudelios opened #372 "Wrong roman influence army calculation?"
In function `enemy_army_calculate_roman_influence`:

https://github.com/bvschaik/julius/blob/7d8e06f426b7eaa2dc365d77355299cec6ab1f39/src/figure/enemy_army.c#L97-L101

Shouldn't the code be `MAX_FORMATIONS` instead of `MAX_LEGIONS` on line 97? Or is this an original bug?

Note that the same bug is present when using the `L` hotkey to cycle the legions.

[2020-03-13 12:45] crudelios commented on #372
So this is and isn't a bug. The game always assigns our legions to the first six slots of available formations. So there's really no difference between using `MAX_LEGIONS` or `MAX_FORMATIONS`, as the last formation index will always be inside the `MAX_LEGIONS`.

This could however be a problem if more legions are added, specifically more than 9 legions (as it seems the herds get assigned to format

[2020-03-14 17:51] devnoname120 opened #374 "Add Alt+Return to switch between windowed mode and full screen mode"
Currently it's bound to <kbd>F6</kbd> but most games use <kbd>Alt</kbd> <kbd>Return</kbd> so for consistency reasons it would be nice to add/replace the hotkey.

[2020-03-14 17:53] devnoname120 opened #375 "Move in the city by keeping right mouse button pressed"
It's common for strategy games to allow you to move through the map just by holding the right mouse button pressed and moving (usually the cursor disappears while doing this).

[2020-03-17 11:33] crudelios commented on #320
Possible and currently being implemented on my military sidebar project.

[2020-03-17 18:52] bvschaik commented on #321
I've added the new font files to the [Russian patch](https://bintray.com/bvschaik/caesar3-patches/russian).

[2020-03-17 18:52] #321 closed

[2020-03-17 19:44] #372 closed

[2020-03-17 19:56] #370 closed

[2020-03-17 20:27] #374 closed

[2020-03-19 06:48] #269 closed

[2020-03-20 13:22] ralphcook commented on #63
Why do you think this was intended? Perhaps you meant that bvschaik intended it for convenience, as opposed to being intended in the original game?

I have a small desire that it be put back to the original behavior, but it's not a big deal -- greatly slowing the game is similar, as already pointed out.

[2020-03-20 13:27] ralphcook opened #379 "Speed keys do not repeat"
In the original Caesar III, if I press and hold the "[" key, the game speed slows down while the "[" character repeats. In Julius, it seems that the repeat does not occur, I have to press the key repeatedly to get the same effect.

This is not a big deal, just a slight difference in the gameplay.

[2020-03-20 13:40] crudelios commented on #63
This was intended for the original game, as programmers had to explicitly add a function to check if the game was paused.

Bvschaik changed it for convenience.

[2020-03-20 14:32] crudelios opened #381 "Bugs with improved touch support"
While testing the new android build (check #380), I already found the following bugs:

* ~If you start building a road, wall or draggable reservoir in an invalid place (i.e. a tree or a rock), the build may "bug" and behave strangely. To get around the bug, cancel the build (click the upper-right `X` button until it disappears) and reselect it.~
* ~When you finish a mission and Caesar congratulate

[2020-03-20 15:30] ralphcook commented on #63
I don't agree that we can tell it was "intended for the original game"; I think it unlikely that we can discern "original" intent much from code. I'd still be in favor of putting it back the way it was, but, as I said before, it isn't a big deal.

[2020-03-21 00:02] gauravsamudra opened #382 "Option to map 'Esc' key to deselect"
Would it be possible to add an option to map 'Esc' key to deselect (currently right click) instead of exit from game confirmation dialog?

[2020-03-21 15:03] vv221 opened #383 "Wishlist: Provide basic Linux binaries with releases"
Please consider providing "classic" Linux binaries with releases, in addition to the AppImage.
This would help a lot in including Julius in other projects.

---

I am currently planning to add support for Julius into [./play.it](https://forge.dotslashplay.it/play.it/scripts), a free/libre installer for DRM-free commercial games on Linux, that makes games installation easier by automating the build

[2020-03-21 15:04] vv221 commented on #383
Sorry for the "bug" label, this is of course not a bug ;)

[2020-03-21 18:01] vv221 opened #384 "Drop custom cmake rules to find SDL2, rely on sdl2-config.cmake"
Since version 2.0.6, SDL2 upstream provides `sdl2-config.cmake`.

Relying on this would allow to drop the custom rules to find SDL2 that are currently maintained as part of the build chain, at the cost of bumping minimum version of dependency on SDL2 to 2.0.6.

[2020-03-22 02:13] NeoXaero commented on #382
would be an excellent addition

[2020-03-22 02:14] NeoXaero commented on #375
would be an excellent addition

[2020-03-22 11:18] crudelios opened #386 "Travis: macOS-related problem trying to bump SDL to 2.0.12"
I'm trying to update SDL to 2.0.12 in travis. Everything is working except for mac OS, which throws the following error during `make install`:

[code]

It seems SDL 2.0.12 now requires hidapi, at least for mac. However, since I don't use macOS, I don't really know how to fix this.

So, does anyone have any suggestions?

[2020-03-22 14:58] crudelios commented on #381
Another bug: selecting military units to move them is not working.

[2020-03-22 16:17] bvschaik commented on #386
I've tried it out and encountered the same error. Adding this bit at line 628 of CMakeLists.txt fixes it:
[code]

I did notice that the cursor's transparent bits are no longer transparent in SDL2.0.12. Is that also the case on other platforms?

[2020-03-22 17:00] vv221 commented on #384
I’m closing this issue alongside [the related related merge request](https://github.com/bvschaik/julius/pull/385), see @crudelios [comment](https://github.com/bvschaik/julius/pull/385#issuecomment-602089142) for why it should not be implemented this way.

[2020-03-22 17:00] #384 closed

[2020-03-22 18:02] ralphcook commented on #379
Also interesting: on my machine, pageUp and pageDown keys do not repeat either. I'm on Windows 10 Pro, HP Elitebook; they do not repeat by being held down on either the laptop keyboard or an external Logitech keyboard.

[2020-03-23 06:47] garganshul108 opened #387 "Error: 'c3.eng' or 'c3_mm.eng' not found or large || Game pre-init failed"
Describe the bug, the steps to reproduce, and if possible attach a saved game that show the wrong behavior.

Following the instructions given for [Linux System](https://github.com/bvschaik/julius/blob/master/doc/building_linux.md)
I found this in my terminal after running
[code]

![JuliusError1](https://user-images.githubusercontent.com/45210080/77289554-3bdd2e00-6d00-11ea-935a-f6c0eec8560f.png)

[2020-03-23 06:55] garganshul108 commented on #387
[treefile.txt](https://github.com/bvschaik/julius/files/4367640/treefile.txt)
This is the tree of the Julius clone directory
Which file/folder do I need to point to?

[2020-03-23 09:08] crudelios commented on #387
You need to point to your Caesar 3 installation folder as the game requires the base Caesar 3 assets to run.

[2020-03-23 09:50] crudelios commented on #386
Confirmed in Windows.

[2020-03-23 12:28] crudelios commented on #386
I have come up with a fix to the transparency issue by manually converting the image data from string to valid colors instead of using a palette.

It's compatible with previous SDL versions and as a bonus, the conversion should be faster.

[2020-03-23 12:48] crudelios commented on #382
I agree.

@bvschaik If you agree with this, I'll implement it as a generic function that replaces the huge amout of `if (m->right.went_up || (m->is_touch && m->left.double_click))` that is all over the code due to
#360 and also adds the `ESC` hotkey.

[2020-03-23 13:06] ArtySh0ck commented on #321
Ok, i will check it soon as i can, thank you! <3

[2020-03-23 13:10] garganshul108 commented on #387
I am actually not able to understand which is my Caesar 3 installation folder. Ia it the folder where I cloned the repository?

[2020-03-23 13:17] crudelios commented on #387
No. You need to install the game Caesar 3 in order to be able to use Julius. If you don't have Caesar 3, you can buy it from [Gog.com](https://www.gog.com/game/caesar_3), for example.

[2020-03-23 16:20] crudelios opened #389 "Options -> Reset to default not working properly"
@411752230 in gitter:

And if you have set the language to a custom language folder, reset to defaults will keep the custom language folder name unchanged rather than (default)

Indeed, reset to default should only save if `OK` is clicked, not otherwise.

[2020-03-23 16:52] garganshul108 commented on #387
Okay, Thanks.
I have uploaded the game source [here](https://github.com/garganshul108/caesar-III)

[2020-03-23 17:00] #387 closed

[2020-03-23 17:33] crudelios commented on #387
@garganshul108 What are you doing???? You can't upload the game like that, it's illegal! Remove it from your github and take out the link, please!

[2020-03-23 18:38] 411752230 opened #390 "Breaking the limits of buildings, walkers and point-to-point routes"
How about an option about this?

There is a c3 breaker like this.
[c3_limits_alpha2.zip](https://github.com/bvschaik/julius/files/4371276/c3_limits_alpha2.zip)

[2020-03-23 20:02] bvschaik commented on #387
@garganshul108 Do you want to get us into legal trouble? You've just gained yourself a lifetime ban for contributing to Julius.

[2020-03-23 20:29] Legionary2 commented on #390
Augustus is working on this

[2020-03-23 20:40] crudelios commented on #390
Yes, that's a feature for Augustus, not Julius :)

[2020-03-23 20:42] Legionary2 commented on #390
you can check out the discords to see developments for Augustus as well as Julius through gamerzachs discord

[2020-03-24 02:34] 411752230 commented on #390
@crudelios @Legionary2 Thanks. I will check it later.

[2020-03-24 07:03] bvschaik commented on #390
Increasing building/walker/route limits will cause Julius savegames to crash in Caesar 3, so that is why it won't be implemented in Julius.

Duplicate of #369.

[2020-03-24 07:03] #390 closed

[2020-03-24 07:07] #386 closed

[2020-03-24 07:15] bvschaik commented on #383
The last time I checked (but that was years ago), there is no concept of "universal" Linux binaries: binaries are not compatible across CPU architecture, or even Linux distributions because of differences in libc versions. Please correct me if I'm wrong though.

Julius is already included in some distributions.

[2020-03-24 12:09] vv221 commented on #383
This is still the case, most projects provide only x86_64 and x86_32 binaries (or only x86_64 more recently) as that seems to be enough to cover most use cases.

About the differences in libc versions, I actually don’t know how most project maintainers handle this. It might be as simple as building against a libc old enough that it would run on current LTS distributions.

I actually did not notice

[2020-03-24 12:29] jurf commented on #27
I have not looked into this since then. I wanted to at least archive my progress, so I looked at the old Flatpak manifest I made, but it’s just a bare skeleton. Unfortunately, I do not have time or motivation to work on this anymore.

[2020-03-24 18:38] LePatator opened #392 "Display workers needed in fountains and missions"
The fountains and the missions consume workers but it is not displayed in their description panel.

I fixed it, now the workers counter is displayed like in the other buildings.
![workers](https://user-images.githubusercontent.com/62617403/77463886-9e205680-6e06-11ea-8f30-8157b7c3ed9e.png)

My fix is on a local branch. If you want i can give it to you, but for now i can't push it to make a pull re

[2020-03-24 19:16] crudelios commented on #392
I like this, but since fountains and mission posts don't need to spawn citizens, could you get rid of the message "poor access to workers"?

[2020-03-24 20:13] LePatator commented on #392
Ok, i removed this messages. I left the one displayed when there is nobody in the city because it still makes sense.
![workers](https://user-images.githubusercontent.com/62617403/77472488-4a1c6e80-6e14-11ea-9935-4d725142d49c.png)

[2020-03-24 20:37] crudelios commented on #392
I think you can keep the "too few people alocated by the labor advisor", as it also makes sense to keep :+1:

[2020-03-25 11:33] LePatator commented on #392
Ok I did it
![Sans titre](https://user-images.githubusercontent.com/62617403/77532223-b8087a80-6e94-11ea-9bc4-fe9122bfc17d.png)

[2020-03-25 12:16] LePatator opened #393 "Message 'city need workers' when building a fort"
As we discussed on discord, i fixed on a local branch this very little bug :
If you build a fort when your city need workers, a message is displayed saying 'city need workers' which doesn't make sense since a fort doesn't consume workers.

![message](https://user-images.githubusercontent.com/62617403/77535261-9f9b5e80-6e9a-11ea-9b18-77657c8f4d23.png)

So the fix is only to not display this message

[2020-03-25 13:00] bvschaik commented on #393
Hi @LePatator, nice going! To contribute your code, do the following:

1. **Fork** this project to your own Github account
2. Clone the fork to your local computer
3. Apply the code changes and push them to your Github
4. Create a **pull request**

[2020-03-25 19:41] LePatator commented on #393
I have a question : the 2 fix i just proposed with the 2 issues i opened could be added in Augustus as well. Is there an automatic process for this ? Or should do the same (fork, branch, pull request) with Augustus code ?

[2020-03-25 19:49] bvschaik commented on #393
Keriew normally pulls all Julius changes into Augustus before he creates a release, so nothing needs to be done for that :)

[2020-03-25 19:51] #393 closed

[2020-03-25 20:54] bvschaik commented on #27
In the meantime, Julius is on [Flathub](https://flathub.org/apps/details/com.github.bvschaik.julius) ([manifest](https://github.com/flathub/com.github.bvschaik.julius)) thanks to Barthalion.

[2020-03-26 08:09] jurf commented on #27
Oh cool! I misunderstood what you meant under ‘Flatpak issue’. :P

[2020-03-30 16:02] pinouchon commented on #274
Would it be hard to implement something configurable ? (hopefully that takes care of different layouts).
Here is my suggestion: You have a global switch that toggles between "normal hotkeys" and "custom hotkeys"
When selecting "custom hotkeys", you see a list of all possible configurable actions (select road, select shovel, select housing, cancel last action, toggle fire overlay, go to advisor...)

[2020-04-01 02:03] ArtySh0ck opened #397 "Rubble: Nowhere ... ?"
If something burns out or crashes it leaves a Rubble, u know. Originaly, when we right-click that rubble we can read what kind of building this was before accident. But now it's "Nowhere" even when i have NOT load a savegame. I mean i see "Nowhere" on info screen of Rubble right after accident... and have no way to know which building i need to re-build here =(

I try this on latest unstable - 1.3

[2020-04-01 05:23] bvschaik commented on #397
I'll have a look, it should still work. Was the rubble caused by fire, collapse, invading enemies or a blocked road to Rome?

[2020-04-01 06:12] bvschaik commented on #397
I just tested it: the only way I can get the "nowhere" to show up on rubble, is if enemies destroy a wall, since a wall is not officially a "building". Any other rubble, from collapse, fire, or blocked road to Rome, all correctly display the building it previously was.

Can you confirm it was a wall destroyed by enemies in your case? If so, I have a fix ready.

[2020-04-01 10:00] bvschaik commented on #274
I'll look into making the hotkeys configurable.
Yesterday I briefly looked at the hotkey handling code for #379, and I discovered that it's just not working properly for other keyboard layouts than the standard US and very similar Western European layouts, so I think the only way to fix that is to let the user configure the hotkeys to their liking.

[2020-04-01 10:31] crudelios commented on #274
Like! Since I was thinking about implementing a gamepad configuration, this will go hand in hand :wink:

Oh and I think we'll eventually need to separate the `Options` window by tabs, as it's getting crowded now...

[2020-04-01 10:39] bvschaik commented on #274
Yes, at least the hotkeys should be a separate tab (or even window, perhaps).

[2020-04-01 18:06] bvschaik commented on #392
Fixed by #396

[2020-04-01 18:06] #392 closed

[2020-04-02 10:57] #397 closed

[2020-04-02 11:18] #389 closed

[2020-04-02 14:38] bvschaik commented on #383
I just tested it: [x86_64 binary](https://bintray.com/bvschaik/julius-branches/linux/linux-binaries-1.3.1-20200402-7e727b2#files) compiled with SDL 2.0.12, running it on Debian 8 Jessie, quite an old version with SDL 2.0.2. It crashes when executing code which is meant for newer SDL versions (2.0.7+).

The problem with these binaries is that SDL is not statically linked, it has to be provided by t

[2020-04-02 15:15] crudelios commented on #383
@bvschaik I think SDL's version can be checked not only at compile time, but also during run time.

So we could effectively do something like this:

[code]

[2020-04-02 17:23] bvschaik commented on #383
@crudelios It looks like we can only use [SDL_GetVersion](https://wiki.libsdl.org/SDL_GetVersion) at runtime, but that should be sufficient. We use only a couple places where the SDL version really matters, so we can add extra checks there.

[2020-04-02 18:14] crudelios commented on #383
On it!

[2020-04-02 19:14] crudelios opened #402 "Travis is not appearing on new PR's"
Only codecov and AppVeyor are appearing.

This may cause some builds to report as successful even though Travis fails.

Usually to fix this in my repository I need to disable and re-enable Travis for that specific repository.

[2020-04-02 19:45] crudelios commented on #402
This now seems to be fixed. Closing the issue.

[2020-04-02 19:45] #402 closed

[2020-04-02 20:00] devnoname120 commented on #383
@vv221 What's the problem with just using the AppImage? It's a normal and self-contained Linux executable.

I don't know how your installer works but I don't think it's a good idea at all to use a dynamically-linked executable.

There is a reason why on Linux we only have 3 things:
- distribution-specific packages
- universal executables
- statically-linked executables (for people who want to suff

[2020-04-02 21:31] ArtySh0ck commented on #397
i need to recheck this.

[2020-04-03 10:49] vv221 commented on #383
@devnoname120

I do not deny it, it is probably the best format for standard usage.

Well, that’s the thing: you should have asked how it works first ;)
./play.it is indeed building distribution-specific packages, not universal ones. Using the system-provided libraries is one of its strengths compared to other installation methods.

Including an AppImage in a .deb package would be an increase in c

[2020-04-04 09:16] #381 closed

[2020-04-04 09:20] #383 closed

[2020-04-04 09:22] bvschaik commented on #383
@vv221 Let's just try it for x86_64 and see how this goes. Please keep me up to date if there are any issues with the binaries. They are built on a Ubuntu system so should be compatible with Debian-based systems at least.

[2020-04-04 13:57] vv221 commented on #383
Thanks!

I should be able to get feedback from users of Arch Linux, Debian and maybe Gentoo quite quickly, and from a wider range of systems once Julius support reach a stable version of ./play.it.

[2020-04-04 15:39] fetchinist commented on #375
I want it too! I hope it's possible with the right button or the middle button!

[2020-04-04 19:25] #382 closed

[2020-04-05 11:02] devnoname120 commented on #375
I've made the changes. If you want to test this feature you can use the development version: https://ci.appveyor.com/api/buildjobs/p839hc782v63wykb/artifacts/julius-1.3.1.89-2114de68-windows.zip

[2020-04-05 11:59] fetchinist commented on #375
Thank you! That's what I wanted! And I wish I could choose the scroll direction! (I prefer to do the opposite)

And when I scroll to the end of the screen and then back to the opposite direction, it doesn't scroll immediately, but it stays on the edge for a while, and the screen scrolls. I hope it moves right away!

[2020-04-05 12:35] crudelios commented on #375
It's working fine for me as well 😃

I agree with @fetchinist, I think it would be more intuitive if moving the mouse down would scroll up and vice-versa. Perhaps adding (yet another) option for that wouldn't be a bad idea...

I don't really understand what you mean. Do you mean if you use the old scrolling method or if you scroll to the edge of the map? For me both of these seem to be working fine

[2020-04-05 13:08] fetchinist commented on #375
Sorry about my bad english. I think the meaning was not correct because I was using a translator.

Suppose you're scrolling in the left direction of the screen. As you move your mouse, at some point the screen will reach the left end of the map.

If you hold the mouse button and continue to move the mouse to the left even after the screen reaches the left end, and then move it back to the right, t

[2020-04-05 14:42] devnoname120 commented on #375
I respectfully disagree about the scroll direction. I've just checked and OpenRCT2 uses the same scroll mechanism, and in my experience most strategy games do this as well.

It might be a little more intuitive to 'grab' the screen, but here the cursor disappears and anyway the 'grab' screen paradigm would fail when you reach the border of the window with your cursor.

This makes total sense! Going

[2020-04-05 15:11] crudelios commented on #375
Fair enough. It already works well, anyway.

[2020-04-05 16:10] devnoname120 commented on #375
@fetchinist I've fixed the issue. Could you try again with the ZIP from here? https://ci.appveyor.com/project/bvschaik/julius/builds/31966583/job/woe1quehuirw83ul/artifacts

[2020-04-06 03:25] AJenbo commented on #200
Thanks for this, now we won't have to migrate away from it in https://github.com/diasurgical/devilutionX :)

[2020-04-06 05:09] fetchinist commented on #375
Good! It works perfectly! Thank you very much.

[2020-04-09 15:23] #379 closed

[2020-04-09 15:28] bvschaik commented on #379
Speed keys now repeat due to the dynamic hotkeys implementation.

[2020-04-13 16:08] Rijk opened #412 "Cart pushers sometimes passing granary"
Hi, check out the following save file: [Aedile 13.sav.zip](https://github.com/bvschaik/julius/files/4470369/Aedile.13.sav.zip)

I set up a granary near the wharfs to collect all the fish. The granary in the bottom of the map is set to Getting food and so will pick it up from the top one. I've tested this save file in the original Caesar III, and it works as expected.

In Julius however, the cart p

[2020-04-13 16:11] Rijk opened #413 "Warehousemen not visible in Food Stocks overlay"
Not sure if this is the same in the original game. But it's kind of weird when you see all the cart pushers and market ladies, but not the warehousemen (you just suddenly see food disappearing and reappearing in another granary). Would be nice if there were visible on the overlay as well.

[2020-04-13 18:06] bvschaik commented on #412
Thanks for your report, I'll have a closer look since I indeed see a deviation from Caesar 3, but I'm not sure if it's related to the granaries. The granary you mention often loses its employees due to poor access to houses. During the period of no employment, any fisherman that spawn will ignore that granary. I see the same happening in Caesar 3.

[2020-04-13 18:38] bvschaik commented on #413
Caesar 3 also does not show them.
I tried adding support but it's quite tricky to determine when food enters the food supply chain and its corresponding cartpusher should be shown on the overlay: a warehouseman transporting food between warehouses should not show up, for example.

[2020-04-13 19:24] bvschaik commented on #412
Upon a closer look I found a corrupted tile which was causing the differences I saw when comparing the saved games from C3 and Julius after letting it run for a game month. Other than that, the behaviour of C3 and Julius is exactly the same with respect to the granaries: it's caused by losing employees every now and then.

Since this is also present in C3, I'm closing this issue.

[2020-04-13 19:24] #412 closed

[2020-04-13 19:28] bvschaik commented on #413
Since C3 also has this behaviour, I'm closing this issue.

[2020-04-13 19:28] #413 closed

[2020-04-13 20:18] Rijk commented on #412
Thanks for the quick reply. Happy Easter!

[2020-04-14 11:52] theodoretsai opened #414 "Any plan to remove building and walker limit?"
Hi,

In my personal experience most of the games are forced to end with data limit reached warning when reaching ~16.000 population since I play on the window version, is there any plan to address the issue? There are mods out there but they cannot be used simultaneously with Julius.

Thank you.

[2020-04-14 12:11] crudelios commented on #414
This will not be done on Julius itself since it breaks savegame compatibility with the original C3 save files. Julius' goal is to retain 100% savegame compatibility.

However, the limits are being increased in [Augustus](https://github.com/keriew/julius) (a fork of Julius which adds features that break savegame compatibity) and will be available on its next release.

[2020-04-14 12:57] ArtySh0ck opened #415 "Translating the settings menu (and other texts)"
Translations needed:
- [x] French
- [x] German
- [x] Italian
- [x] Spanish
- [x] Korean
- [x] Polish
- [x] Portuguese
- [x] Russian
- [x] Swedish
- [x] Traditional Chinese

[2020-04-14 14:01] theodoretsai commented on #414
Thank you very much, will be waiting for the update.

[2020-04-14 14:01] #414 closed

[2020-04-16 10:18] #375 closed

[2020-04-16 13:20] ianskenny opened #417 "'You must build on cleared land'"
Sorry if this a noob question. I couldn't find this issue under previous issues. I am building the source in Eclipse (C tools) for mac and running it through that.

Whenever I try to place a building I get 'must build on cleared land' when I *am* attempting to build on cleared land. (Also, perhaps unrelated(?) I can only scroll the landscape vertically with the mouse.)

[Edit] I also can't place a

[2020-04-16 14:03] crudelios commented on #417
Do you get any compiler warnings when building the game?

[2020-04-16 16:27] ianskenny commented on #417
Thanks for the reply.

Yes, I get some errors loading files but the errors seem to get resolved:

----
2020-04-16 17:21:35.099 C3ga[1166:7569] INFO: Julius version 1.3.1.70-f54790e5-dirty
2020-04-16 17:21:35.100 C3ga[1166:7569] INFO: Initializing SDL
2020-04-16 17:21:35.277 C3ga[1166:7569] INFO: SDL initialized
2020-04-16 17:21:35.277 C3ga[1166:7569] INFO: Loading game from working directory
2020-

[2020-04-16 16:30] ianskenny commented on #417
There is also another problem but that might be with Eclipse. In the file julius.c there's a whole bunch of symbols that can't be resolved. E.g. 'SDL_Event'. However, the source builds and runs.

[2020-04-16 16:48] crudelios commented on #417
Julius only asks for your C3 dir the first time, then it saves the setting in a separate file. Also, I don't think the symbol errors are related, as if they were "true", the game wouldn't build.

This is a very strange problem. If you start a new campaign does everything work?

[2020-04-16 16:59] ianskenny commented on #417
Yes, but what confuses me is why that info carried over from my original download to the new build I did myself. Where is the file that stores the C3 folder location? I can’t find that.  I’m on Mac.

[2020-04-16 17:26] ianskenny commented on #417
Just in case this sheds any light, I've noticed that when I load an old saved game (in my newly built-from-source version) the people in the streets gradually disappear! They seem to enter a building and never emerge again.

[2020-04-16 17:46] crudelios commented on #417
It doesn't shed any light at all. Are you sure there aren't any compiler warnings?

Also, what compiler do you use?

[2020-04-16 18:06] ianskenny commented on #417
I'm using gcc via the makefile in the distribution, but through Eclipse. I'm going to experiment with it via the command line for a bit. Thanks.

[2020-04-16 19:17] bvschaik commented on #417
It's stored in `~/Library/Application Support/bvschaik/julius/data_dir.txt`, which is of course global, so both the downloaded .app and your own build will use that file.

I find this very weird, like a mis-compilation of some parts of Julius.

[2020-04-16 19:32] ianskenny commented on #417
Yes, thank you. I’m going to experiment more tomorrow using the command like instead.

[2020-04-16 19:59] bvschaik commented on #417
Could you perhaps post the output from a clean build? Do a Project -> Clean first, then build the sources and post the Console output here. That way we can see which CMake, SDL and compiler Eclipse is using.

I just downloaded Eclipse and was able to build a Julius executable that appears to be working correctly.

[2020-04-16 20:02] jdmillard commented on #375
(I understand that this issue is closed)

Idea: config option for inverting the direction, where default is the one that matches other games. This will allow those to "grab" the map if they prefer it that way.

[2020-04-16 20:08] bvschaik commented on #415
Good question. I haven't really thought about translating the options menu. The problem is maintaining the translations when options are added/updated, though Google translate can be used if we don't have a translation on time.

I'll have to refactor the code for that though, but I think we can make it work.

[2020-04-16 20:48] ianskenny commented on #417
Could you possibly tell/show me your Eclipse project layout, i.e. the folder structure? I think i'm doing this wrong. Thanks.

[2020-04-17 06:30] bvschaik commented on #417
What I did:
1. Download the latest Eclipse with C/C++
2. Clone Julius outside of Eclipse into ~/eclipse-workspace/julius
3. Open Eclipse, go to File -> New -> C/C++ Project
4. Choose "Empty or Existing CMake Project" and pick the julius directory
5. I installed `cmake` and `ninja` through homebrew; I already have SDL2 and SDL2_mixer set up as frameworks in /Library/Frameworks
6. I had to tell Ecli

[2020-04-17 08:53] ianskenny commented on #417
Many thanks. I will have another try later.

[2020-04-17 09:12] Jaroslav80 commented on #417
Thanks for explaining the build process bvshaik.

[2020-04-17 10:07] ianskenny commented on #417
Bianca, thanks. That worked first time. I'm not sure what was causing me such weird issues (apart from my own stupidity, that is) but I had not installed ninja. I didn't know about that.

By the way, I just want to add that the code for julius is wonderful. Clear, understandable, easy to follow. Well done to all.

[2020-04-17 13:50] bvschaik commented on #417
Good to hear! So now you don't have the problems with not being able to build on cleared land anymore?
I still wonder where that came from... but glad you got it working.

Ninja is one of the build tools; you can also tell Eclipse to use Unix Makefiles by clicking on the cog next to "julius" at the top, then going to tab "Build Settings" and selecting Unix Makefiles instead of Ninja.

[2020-04-17 14:30] ianskenny commented on #417
Thanks, Blanca. No, I don’t seem to have any of those problems now. So weird. The fact that it built and ran but had those strange issues.

[2020-04-17 14:31] bvschaik commented on #417
Thanks for confirming. I'm closing the issue.

[2020-04-17 14:31] #417 closed

[2020-04-17 18:00] ArtySh0ck commented on #415
Then i cant understand this:

![image](https://user-images.githubusercontent.com/46932541/79599630-8169fc80-80ee-11ea-8403-588f7df65dde.png)

[2020-04-19 19:17] bvschaik commented on #415
That's the option for the language of your Caesar 3 installation. If you have installed language packs, these will show up in the select box when you click on it. "(default)" denotes that no language pack has been selected and the standard language is used.

I'm working on the code for supporting translations now. These are the strings so far that need to be translated. Once #419 has been merged,

[2020-04-19 20:58] crudelios commented on #415
I'll translate to portuguese :)

[2020-04-20 08:03] bvschaik commented on #415
I've updated the list above with the hotkey strings (that's a lot...).

@crudelios You can use [this](https://github.com/bvschaik/julius/blob/feature/config-translation/src/translation/english.c) as reference. Copy to `portuguese.c`, add the language to `translation.c` and it should work.

[2020-04-20 09:06] crudelios commented on #415
Here's the translation:

[code]

Note: I tried to keep it as Brazilian Portuguese. I doubt it's perfect though, as I'm not proeficient in Brazilian Portuguese.

[2020-04-21 19:28] bvschaik commented on #415
Great!
The following strings run out of the available space though... any way you can shorten them?
[code]
![portuguese-config](https://user-images.githubusercontent.com/104874/79905745-074fb580-8417-11ea-9c14-e7547bff8a36.png)

![portuguese-hotkeys](https://user-images.githubusercontent.com/104874/79905755-0a4aa600-8417-11ea-8dd0-91e382a597d0.png)

[2020-04-21 19:55] NeoXaero commented on #415
@crudelios Tem alguns erros de português-br, mas no geral está bom.

[2020-04-21 20:44] bvschaik commented on #415
Please be constructive: point out the errors and give suggestions to fix them.

[2020-04-21 20:59] crudelios commented on #415
Here you go:

[code]

[2020-04-22 14:15] ralphcook opened #421 "Trading ship buys goods not on its trading list"
In Miletus, roughly Jun 210 BC, I had a ship from Athenae dock and purchase 3 oil and 2 weapons. The problem is that Athenae is supposed to buy only oil and fish.

Corinthus buys weapons, and I do have oil and weapons set for export. But it was my understanding that the game did not allow trading cities to buy (or sell) things outside their stated lists.

This would be difficult to reproduce; the

[2020-04-22 15:09] crudelios commented on #421
Can you also attach the savefile please?

[2020-04-22 15:28] bbright024 opened #423 "Modularizing extra_info panel to make future additions easier"
Hey all,

First time contributing here, long-time C3 player.

I'd like to add some extra info to the extra_info sidebar - e.g. salary, tax, maybe throw festival

In order to do that, I think it would help out to standardize some of the y values in`draw_extra_info_panel()` - see https://github.com/bvschaik/julius/pull/422

The more info on the sidebar, the tougher it is to scale with the current de

[2020-04-22 15:42] ralphcook commented on #421
I should have thought of that -- Here it is.
[Miletus 7 03.zip](https://github.com/bvschaik/julius/files/4517157/Miletus.7.03.zip)

This starts in, I think, February; in late March or April, a ship comes from Corinthus, then the ship in question shows up from Athenae and waits for the dock. After the first ship buys its 9 weapons and departs, the Athenae ship takes the dock and buys oil and weapon

[2020-04-22 17:08] bvschaik commented on #421
Thanks, I'll have a look.

[2020-04-22 17:25] bvschaik commented on #423
First of all, thanks for taking the time to contribute!

I certainly prefer multiple smaller PR's over one very large one, so that's cool.

I was thinking: perhaps we should move the sidebar info code to a separate file? `sidebar.c` is getting quite large already.

[2020-04-22 17:41] bvschaik commented on #421
I've had a look: this also happens in Caesar 3. Athenae does not actually buy weapons. What happens is the following:

1. Ship from Corinthus arrives at the dock
2. Dockworkers go to the warehouse to buy weapons. As soon as they pick the weapons up from the warehouse, the money is in your account and added to the Corinthus numbers.
3. Dockworkers walk back to the dock, and deposit the weapons in t

[2020-04-22 17:41] #421 closed

[2020-04-22 18:12] bbright024 commented on #423
You're welcome!  Thanks for setting all this up; C3 is my favorite game of all-time, so it's an absolute treat to be able to modify it a bit and keep my programming skills sharp while I look for a new paying gig (coronavirus related job loss).

@bvschaik yeah, I was getting that feeling too when I started adding more `#define` values.  I'll make an attempt at splitting it up, been a while since I'

[2020-04-23 01:02] bbright024 commented on #423
Heh, well, I broke out extra_info from sidebar.c in this commit -

https://github.com/bvschaik/julius/pull/422/commits/45c87fdc71fe04c2df456f80c4affb123acde776

bigger PR than I'd like, but it works and is mainly just renaming variables/structs/whatnot.
i had to introduce a few more globals because of the entanglement between sidebar.c and extra_info.c, but itll be easy to clean them up by adding

[2020-04-23 09:42] bvschaik commented on #423
No globals please... Check the PR for my suggestion for reducing the tangle.

[2020-04-23 15:32] bbright024 commented on #423
awesome, big thank-you for those comments @bvschaik

on the globals - totally agree; only used them temporarily because i wanted to get confirmation that you're fine with how i was proceeding before committing the time to modifying the function parameters.

btw, saw on a different issue's comment that you guys have a discord channel, would I be able to get an invite to that 🙂

[2020-04-23 15:38] crudelios commented on #423
We have a gitter channel as well which is more developer-focused.

For discord, search on google for "GamerZakh discord" and you'll get there :wink:

[2020-04-24 00:09] jdmillard commented on #421
bugs.md documents known C3 bugs, maybe the issue author can create PR proposing an addition to that file?

[2020-04-24 06:31] bvschaik commented on #423
Discord: https://discordapp.com/invite/GamerZakh
I'll add it to the readme later.

[2020-04-24 10:52] ralphcook commented on #421
I did an analysis of the movements, etc., of the ships and carts, and came up with the following. It's too detailed for bugs.md, but I think putting something there is a good idea. I'll work on something for that.

--

Each trading partner for a city has a list of goods which it buys and sells; under certain conditions, a ship will show that it has bought goods that are not on the list for its cit

[2020-04-24 14:59] jdmillard commented on #421
I agree with you that bugs.md doesn't need all the details. You could simply state that under certain sets of conditions that involve merchants from multiple cities, ship traders don't purchase their assigned goods. (or something like that - you clearly understand it better than I do).

[2020-04-24 17:02] bvschaik commented on #415
PR #424 for adding translation support has been merged.

If anyone else would like to contribute translations, these are the steps if you want to code it yourself ([example commit](https://github.com/bvschaik/julius/commit/88230d094243ec0fa9133f777664e0d7c9e6a6b7)):

1. Copy `src/translation/english.c` to your language's name
1. Translate all strings in it
1. Add the language to `src/translation/t

[2020-04-24 19:21] bbright024 opened #425 "once sidebar_filler is complete in issue #423, complete simplification of functions"
request from [bvschaik in this pr](https://github.com/bvschaik/julius/pull/422#discussion_r413654123):

https://github.com/bvschaik/julius/pull/422#discussion_r413654123

[2020-04-24 20:23] bvschaik commented on #425
Like I mentioned in a comment, don't create "technical" issues for code improvements, just open a PR so there's only 1 discussion to keep track of. Therefore I'm closing this.

[2020-04-24 20:23] #425 closed

[2020-04-24 20:24] bvschaik commented on #348
How does this look?

![tooltip-gods](https://user-images.githubusercontent.com/104874/80253869-63feda80-867a-11ea-9dda-42585d3ea10f.png)

[2020-04-24 22:10] laurentiupopa79 commented on #348
That looks great! Just two dots ":" after "different gods".

[2020-04-25 06:36] #348 closed

[2020-04-25 06:36] bvschaik commented on #348
":" added as well.

[2020-04-25 12:30] jonathanmcnamee opened #426 "All animations stop while you move the map"
As per title. Just checked original c3 and animations continue while panning map

[2020-04-25 13:18] crudelios commented on #426
Please be more descriptive of your bug.

Caesar 3 also stops movement while scrolling, and Julius keeps that.

In Julius, if smooth scrolling is active, the animations don't stop on the latest revisions of Julius. Which version of Julius did you use? 1.3.1 had this problem but it has been fixed meanwhile. Try using the latest version.

Also, I'm assuming you have enabled smooth scrolling.

[2020-04-25 19:01] jonathanmcnamee commented on #426
Hi José,

Was using v1.3.1 official, animation stopped for about a second after you
moved even with smooth animation on.

I've switched to latest nightly build and this is now fixed.

Really appreciate the work you and others have done on this :)

Thanks

J

On Sat, 25 Apr 2020, 14:18 José Cadete, <notifications@github.com> wrote:

[2020-04-25 23:15] m-mohr commented on #415
Pull Request for German is here: #427 :-)

[2020-04-26 15:53] BeleGMRV commented on #415
Happy to help translating to Spanish - here are the above strings:

    {TR_NO_PATCH_TITLE, "Parche 1.0.1.0 no instalado"},
    {TR_NO_PATCH_MESSAGE,
        "Tu instalación de Caesar 3 no tiene el parche 1.0.1.0 instalado. "
        "Puedes descargar el parche en:\n"
        URL_PATCHES "\n"
        "Continúa bajo tu propio riesgo."},
    {TR_MISSING_FONTS_TITLE, "No se han encontrado archivos de

[2020-04-26 16:12] bvschaik commented on #415
Thanks! PR has been merged :)

@BeleGMRV Only two of them are too long actually, not bad:
[code]
Both of them are cut off halfway the last word. If you could shorten them a bit, that would be great!

[2020-04-26 17:46] bvschaik commented on #426
Thanks for checking, glad it was already solved.

[2020-04-26 17:46] #426 closed

[2020-04-26 18:00] jonathanmcnamee opened #429 "Upscaling the snk videos"
If it was possible to convert the smk videos to a modern format (MP4/bink?) and upscale them, would it be possible/suitable to replace the originals just like the mp3s?

[2020-04-26 20:12] BeleGMRV commented on #415
Good stuff - here are shortened versions, and I'm adding a third string to match one of the corrections:

{TR_CONFIG_FIX_EDITOR_EVENTS, "Corregir cambio de Emperador y modo supervivencia en misiones del editor"},
{TR_HOTKEY_SAVE_SCREENSHOT, "Capturar pantalla"},
{TR_HOTKEY_SAVE_CITY_SCREENSHOT, "Capturar ciudad completa"},

[2020-04-26 20:32] NeoXaero commented on #429
I've done that already, but the game doesn't support mp4s, and also it's illegal to distribute the video files alongside the julius project, so @bvschaik declined my offer.

[2020-04-27 09:19] bvschaik commented on #415
@BeleGMRV Thanks! The first one is still slightly too long, but I think it's ok if it can't be shortened further:

![image](https://user-images.githubusercontent.com/104874/80355875-ea810b00-8878-11ea-8ded-72aec482ea1f.png)

[2020-04-27 09:26] bvschaik commented on #429
With enough time and effort basically anything is possible, but there are two main reasons I don't want to replace the videos:

1. Copyright issues. Upscaling an existing video and then distributing them violates copyright of the game assets. Something I really don't want to do. For the MP3 files this was different, since those were already made available by Impressions/Sierra.
2. Integrating vide

[2020-04-27 09:26] #429 closed

[2020-04-27 16:10] fetchinist commented on #415
It's Korean translation!

[code]

[2020-04-28 01:02] BeleGMRV commented on #415
So close! Very well, it will have to go like this:
`{TR_CONFIG_FIX_EDITOR_EVENTS, "Corregir cambio de Emperador y  supervivencia en misiones del editor"},`

[2020-04-28 05:06] constant-current commented on #415
There is my modest French translation, I tried to use wordings from the original one to keep a global coherence through the game :

    {TR_NO_PATCH_TITLE, "Patch 1.0.1.0 manquant"},

    {TR_NO_PATCH_MESSAGE,
        "Votre installation de Cesar 3 ne contient pas le patch 1.0.1.0"
        "Vous pouvez le télécharger depuis : \n"
        URL_PATCHES "\n"
        "Procédez à vos propres risques."},

[2020-04-28 10:58] bvschaik commented on #415
@BeleGMRV Thanks! That fits nicely.

@fetchinist Thanks! Implementing the Korean version will take a while though: I didn't program the full mapping for all characters yet.

@constant-current Thanks and welcome to Github! Some of the translations are a bit too long. Could you perhaps shorten these?
[code]

[2020-04-28 12:12] bvschaik opened #430 "Reservoir range gives artifacts when hovering near map edge"
This only seems to happen on enormous maps at the north and south edges.
![reservoir-map-edge](https://user-images.githubusercontent.com/104874/80485709-32c42a00-895a-11ea-8928-eb1beed0fd0c.png)

@crudelios is going to pick this up.

[2020-04-28 13:03] crudelios commented on #430
On it!

[2020-04-28 19:13] bvschaik commented on #415
@constant-current Yeah, the same strings that give trouble :) Only this one is still slightly too long:
![image](https://user-images.githubusercontent.com/104874/80527688-109bcd80-8995-11ea-8d7f-ef59f85c6d5b.png)

[2020-04-29 02:45] constant-current commented on #415
That monospace font is a hassle (teaser: I'm preparing an issue about French text rendering) but according to Leafpad this should now fit with a bit of ease. Thanks to BeleGMRV's shrinking.

   {TR_CONFIG_FIX_EDITOR_EVENTS, "Corrige “Nouvel Empereur” et la survie des parties crées avec l'éditeur"},

[2020-04-29 06:14] bvschaik commented on #415
Thanks, that fits, though I had to replace the fancy quotes with regular ones.

Technically it's not monospace, and there's not much we can do about the font: the letters are individual images...

[2020-04-29 07:14] #430 closed

[2020-04-29 07:21] #423 closed

[2020-04-29 09:56] constant-current commented on #415
Glad it works! Sorry I wasn't thinking right when trying to avoid having apostrophes instead of quotes. Thinking about it, you also may have replaced some no-break space I included into my first version.

Yeah I kinda figured it out that is a bitmap font when experiencing some overlap bugs as you showed in this topic. Hard time for a non-dev like me to find some clue into the source code but I sup

[2020-04-29 12:30] jetomit opened #432 "Use system libpng if available"
Hi,

I have a [small patch](https://github.com/jetomit/julius/commit/2d7785f9cccb0455cc1267f8ecdd4490b0b0c9c5) to use the system libpng where available. This is mainly to make it easier to package julius for distros. The Switch and Vita platforms apparently also provide libpng.

I successfully built the modified version for Linux, Switch and Vita, and tested on Linux. If it’s OK, I’d like to submi

[2020-04-29 14:31] crudelios commented on #432
Hummm. I'm undecided about this. While this will reduce build times for Linux/Switch/Vita, this also adds an extra outside dependency which we are trying to avoid.

[2020-04-29 16:31] jetomit commented on #432
It’s optional – if libpng is not found on the system, it will use the bundled copy.

[2020-04-29 16:45] crudelios commented on #432
During compilation, yes. The problem is if Julius is compiled expecting a library then run on a system without it.

This may very well happen as we deploy a Linux binary using bintray.

[2020-04-29 16:59] jetomit commented on #432
I see. What about adding a cmake option to compile with system png (or, more generally, system libs where they are found)? Otherwise I’ll just unbundle it in the package script.

In any case, thanks for the feedback!

[2020-04-29 17:04] crudelios commented on #432
That's certainly possible, but I'm curious, why do you want to do that?

I know that it's generally preferred to use system libraries as they can be updated and reused, but we have trimmed our own implementation of libpng to be as less intrusive as possible.

[2020-04-29 17:39] jetomit commented on #432
Pretty much this. I want to update the [package for Guix](http://guix.gnu.org/packages/julius-1.3.0/), where system libraries are preferred. Many other distros have a similar policy, including [Debian](https://www.debian.org/doc/debian-policy/ch-source.html#s-embeddedfiles) and [Fedora](https://fedoraproject.org/wiki/Bundled_Libraries?rd=Packaging:Bundled_Libraries).

I know that bundling dependen

[2020-04-29 18:47] crudelios commented on #432
I think adding an option to cmake is a good compromise. However, wait for @bvschaik's opinion before you delve into it!

[2020-04-30 06:30] bvschaik commented on #432
An option for cmake would be nice: I understand the need to use system libs where possible for Linux distros, but we want to make sure never to use system libraries for Mac and Windows.
Perhaps make it use the system libs by default (if available), and pass a `static-libs` option to force the internal libraries?

[2020-04-30 08:25] jetomit commented on #432
I agree with making this the default, though I’d rather name the option `SYSTEM_LIBS` to prevent confusion with static linking. I’ll submit a PR and we can discuss further specifics there. Thank you both!

[2020-04-30 13:55] bvschaik commented on #432
Thank you! PR has been merged so I'm closing the issue.

[2020-04-30 13:55] #432 closed

[2020-05-02 13:55] hathlife opened #435 "HiDPI support"
Describe your improvement here.
Keep in mind that UI improvements which require new texts will most likely be declined because we can only work with the original text files. Also, large UI changes will not be accepted.
It seems that twos thing can be dealt with SDL2，like AOE2DE:

- [ ] HiDPI support (Currently the program only report 1536x384 resolution when system setting is 3840x2160 with 250% s

[2020-05-02 15:32] crudelios commented on #435
There is scaling support by adding `--display-scale X`, where `X` is a value between `0.5` and `5`.

For zoom, it will be added to Augustus :+1:

[2020-05-04 13:57] bvschaik commented on #415
@fetchinist The Korean translation is also implemented. No problems with string length there 😉

[2020-05-04 14:01] fetchinist commented on #415
Thats great! Thank you.

[2020-05-05 06:51] constant-current opened #437 "Few text overlaps with the French language pack"
Here are few graphical bugs I've found. I'm not sure if they were into the original game as the exe was deleted years ago since it was locked to run only on some Packard Bell prebuild.
Some may be compromises with other languages, I don't know. Tested with yesterday's build and the stable 1.3.1 one.

![julius-glitch-difficulty](https://user-images.githubusercontent.com/64451925/81037669-e0c45c80-8

[2020-05-05 07:25] crudelios commented on #437
Thanks for the report.

I hereby crown the french language as the new champion of verbosity! :trophy:

[2020-05-06 03:15] hathlife commented on #435
It seems that adjusting --display-scale arg just scale the whole screem output, not I really wanted.
![2020-05-06](https://user-images.githubusercontent.com/19867269/81135405-9ff34300-8f8a-11ea-981b-c8399db28ac3.png)

what I want is the UI scaling, at least, smoother text.

[2020-05-06 06:45] crudelios commented on #435
Since text is based on image files (and not on fonts) and the ui images have a fixed size and the entire ui code is hardcoded into the executable, it's not possible to achieve a true hi-dpi look, short of rewriting both all the images and the entire graphics code for Julius.

So it don't be done.

For camera zoom in/out, as I said, expect that in Augustus in a not too distant future.

[2020-05-06 08:50] bvschaik commented on #437
Thanks for the detailed report. I'll have a look, but keep in mind that we have 11 languages to support, and the game should run with a resolution of 640x480 so not everywhere boxes can be increased in size. In some cases it will not be possible to fix it.

[2020-05-06 11:31] constant-current commented on #437
Of course I fully expect unfixables due to concessions, especially with columns.
Also I strongly suspect that at least the "get the food" or the city advisor lines were already overlapping in the original game.

[2020-05-06 16:26] daflame76 opened #439 "Right scrolling edge doesn't work all the way to the edge on Mac OS X with 1.5x display scale"
This issue shows up when launching the game on Mac OS X fullscreen with the option --display-scale 1.5.

In the city map moving the mouse cursor to the far right should scroll the screen, but it doesn't, instead you need to move the mouse back a few pixels to start scrolling the map.

[2020-05-06 16:27] daflame76 commented on #439
Not sure if this is only on Mac OS, but I added that detail until I can confirm otherwise.

[2020-05-06 16:32] crudelios commented on #439
Seems to work fine on Windows, maybe it's a macOS-specific issue...

[2020-05-06 16:42] daflame76 commented on #439
I didn't get to test Windows yet, so it might well be Mac OS specific.

[2020-05-06 16:44] daflame76 commented on #439
Pretty sure it was working properly at full scale on the Mac.

[2020-05-06 16:45] crudelios commented on #439
What's your screen resolution?

[2020-05-06 17:01] bvschaik commented on #439
I tried to reproduce on my MacBook wih retina screen (still running Mojave) but scrolling works properly in all directions.

[2020-05-06 17:08] daflame76 commented on #439
It is with display resolution 2560x1440, so maybe it's the resolution causing a rounding error.  It is off by only one pixel.

[2020-05-06 17:10] crudelios commented on #439
This may be due to the integer truncation when scaling. 1.5x means both width and height are multiplied by 2/3, which may not result in a whole number.

So the problem may only appear on certain resolutions...

[2020-05-06 17:12] daflame76 commented on #439
Classic off-by-one error?  LOL.

[2020-05-06 17:13] daflame76 commented on #439
Well I did the division on my computer and it definitely ends in a remainder.

[2020-05-06 17:16] daflame76 commented on #439
This is a 27" Retina display iMac with a display size of 5120x2880 set to half resolution.

[2020-05-06 17:21] daflame76 commented on #439
I can change the scale to 1.6 for now if that is supported which will avoid the rounding error for now.

[2020-05-06 17:27] daflame76 commented on #439
Confirmed that changing the scale to 1.6 avoids the bug.

[2020-05-06 17:45] bvschaik commented on #439
Good to hear. I'll test different display scales and see if I can reproduce.

[2020-05-07 06:48] constant-current commented on #437
I checked the changes, that looks great!
I've also discovered new bugs or new occurrences:

![julius-glitch-carrier2](https://user-images.githubusercontent.com/64451925/81261897-308a5b80-903d-11ea-88a4-9cdc01dbcc8d.jpg)
a very happy carrier or docker.

![julius-glitch-engineer](https://user-images.githubusercontent.com/64451925/81262163-95de4c80-903d-11ea-9645-096d24a1e087.jpg)
a very bored engine

[2020-05-07 07:23] constant-current opened #440 "broken export amount arrows"
In the trade advisor screen, when clicking on a good to change the amount of the kept quantity before exporting surplus, the value change correctly but it also set the good to no export as if the arrows and the underneath button are on the same detection layer.

This is a regression which apparently started with the 1.3.1-20200504-9cca52f build. It's not on 1.3.1-20200504-a0d6cc2 and the previous

[2020-05-07 07:31] bvschaik commented on #437
Talking citizens: it's not possible to do much there. I've given the text a little more space in the next commit, so more will fit on one line, but other than that there's no solution. The bottom "empty" bit has text when you right-click on something other than road, and those texts can also be pretty long.

I'll have a look at the other texts.

[2020-05-07 08:29] bvschaik commented on #440
Nice one. Thanks for checking where this was introduced!

[2020-05-07 08:29] #440 closed

[2020-05-07 12:42] constant-current commented on #437
This solves the angry kid and the bored engineer lines. Thanks, that's already good :)

For the happy cartpusher, it's quite close.
![julius-glitch-cartpusher](https://user-images.githubusercontent.com/64451925/81283552-20827400-905d-11ea-997a-eaf0ea23fcd6.jpg)
but this text is desperately too long, the best-looking I was able to make with Gimp is this:
![julius-glitch-cartpusher2](https://user-im

[2020-05-07 14:15] NerosTie commented on #346
He is right. Tested with the MP3 files, the music is crackling a lot. It's not the case with Julius.

[2020-05-07 15:36] bvschaik commented on #437
I compared the text to the English one: the French text is about twice as long... no wonder it doesn't fit. I can't do anything without making it look bad in other languages.
[code]
More fixes for the other places are incoming.

[2020-05-07 15:53] crudelios commented on #437
It's not just french that is more verbose, the translator decided to go to China and back to say more or less the same thing.

[2020-05-07 17:08] bvschaik commented on #437
I'd rather not: derivative works and copyright etc. Plus I'm not going to make such a call for a language I don't know well enough.

I just pushed the last of the changes.

[2020-05-07 17:45] bvschaik commented on #439
I tried to reproduce this but I simply can't... I tried different display scale values, with or without external monitor.

Which version of Julius are you running, and which version of macOS? Did you download the julius dmg or did you compile it yourself?

[2020-05-07 17:53] #435 closed

[2020-05-07 18:10] crudelios commented on #435
In a related not, camera zoom has been added to Augustus today and will be available on the next release.

[2020-05-08 01:48] constant-current commented on #437
That's what I thought, technical limitations and concessions. Thanks for the try at least.

That's the main reason why I didn't propose any correction or rewording work.

Exactly. It's the so-called "adaptation". They obviously didn't respect the space constraint.
I guess voice actors also rephrased the translation. It's common in the European French/Belgian dubbing scene to not respect the origin

[2020-05-08 03:51] daflame76 commented on #439
Using Mac OS X 10.13.6 High Sierra. I downloaded the Julius 1.3.1 stable dmg.  I could try the latest build release if you think it was fixed by a recent commit.

The maximum resolution of the screen is 5120x2880, but it's currently set to 2560x1440.

[2020-05-08 04:06] daflame76 commented on #439
I also tried the latest dmg published and the issue is still there.

[2020-05-08 07:12] bvschaik commented on #439
High Sierra... it might be caused by a combination of old macOS + new SDL.
I'm running Mojave myself (not upgrading to Catalina because of the dropped 32-bit support) and there it works properly. I'll see if I can set up a virtual machine with High Sierra.

[2020-05-08 13:35] daflame76 commented on #439
Reading through the SDL bug history it seems like Mojave caused considerable trouble with full-screen windows overlapping the screen boundary. It may be that one of the fixes is causing trouble for older Macs or isn't applied to older Macs.

[2020-05-08 13:36] daflame76 commented on #439
I would upgrade, but then we might lose a corner case.

[2020-05-08 15:34] daflame76 commented on #439
May be related https://bugzilla.libsdl.org/show_bug.cgi?id=4272

[2020-05-08 15:38] daflame76 commented on #439
May be related: https://bugzilla.libsdl.org/show_bug.cgi?id=4272
They talk about window sizing issues.  Could be their patch for that is causing grief now.

[2020-05-08 17:53] bvschaik commented on #437
:+1: Thanks for checking.

Since most of the issues have been fixed, and the remaining ones cannot be fixed, I'm closing the issue. If you find any more problems, just open a new one 😃

[2020-05-08 17:53] #437 closed

[2020-05-08 18:00] bvschaik commented on #439
I'm trying to install High Sierra in VirtualBox on my MacBook so I can possibly reproduce the issue, but the installation doesn't really like me, since it already failed 4 times at four different points in the installation 😒

Meanwhile, could you perhaps try [this image](https://bintray.com/bvschaik/julius-branches/mac/mac-scroll-1.3.1-20200508-6d1161a#files)? It's using SDL 2.0.8, that's before t

[2020-05-08 19:38] Renovatio211 opened #441 "Where is the .exe?"
I can't find any .exe in my extracted files.

[2020-05-08 19:40] bvschaik commented on #441
What did you download? Assuming you use Windows, the correct file to use is "julius-1.3.1-windows.zip" on the [releases page](https://github.com/bvschaik/julius/releases/tag/v1.3.1)

[2020-05-08 19:44] Renovatio211 commented on #441
Ah i downloaded the master assuming it was just the "best" version..

[2020-05-08 19:46] bvschaik commented on #441
Ah, then you downloaded the source of the game, not the .exe.
The link I gave is the latest stable release, if you'd like to try the latest and greatest, you can try the "Latest build (may be unstable)" download option from the [homepage](https://github.com/bvschaik/julius#julius-).

[2020-05-08 20:39] #441 closed

[2020-05-08 23:10] giggietto opened #442 "CD request while loading game"
Hi,
I have caesar 3 with its CD ROM installed on my desktop.  If I want to play I need to insert CD.  With Julius release I can fix this problem? How?
Thanks!!

[2020-05-08 23:16] crudelios commented on #442
If you copy all the files (`julius.exe`, `SDL.dll`, `SDL_mixer.dll` and `libmpg123.dll`) to the same folder of the Caesar 3 installation, you can then run `julius.exe` without the CD. Give it a try :wink:

[2020-05-08 23:51] crudelios commented on #439
I just confirmed, this happens in Windows too with 2560x1440 resolution and `--display-scale 1.5`. I'll have a look!

[2020-05-09 00:54] daflame76 commented on #439
Yeah, tried the older SDL package and it behaves the same.  This is definitely a window mapping calculation error.

[2020-05-09 00:56] daflame76 commented on #439
I'll have a look too.  Maybe I can help you find it.

[2020-05-09 07:35] giggietto commented on #442
Thanks,  Julius contain also the famous patch 1.0.1 changes?  Thanks

[2020-05-09 07:37] bvschaik commented on #442
Yes, it does. If Julius complains that the patch is not installed, follow the instructions [here](https://github.com/bvschaik/julius/wiki/Patches) to install it.

[2020-05-09 07:53] giggietto commented on #442
I have installed the English patch for 64 bit and manually replaced the files to get the Italian language.  I have also the Italian version without patch and with 32 bit crack, that work standalone in my external HDD ....

[2020-05-09 08:29] giggietto commented on #442
And after Julius if I want using Augustus what procedure should I follow..  Thanks so much!!

[2020-05-09 08:36] crudelios commented on #442
You don't need any crack to run Julius or Augustus, and you don't need to add Julius to play Augustus. You just get Augustus instead of Julius and run it.

[2020-05-09 09:01] bvschaik commented on #439
We think we fixed the issue, at least on @crudelios' Windows display it's fixed now. Could you try [this version](https://bintray.com/bvschaik/julius/mac-unstable/1.3.1-20200509-128d2d2#files)?

[2020-05-09 12:23] giggietto commented on #442
Work!! Thanks

[2020-05-09 12:45] bvschaik commented on #442
Good to hear, enjoy!

[2020-05-09 12:45] #442 closed

[2020-05-09 15:36] daflame76 commented on #439
I should get a chance to test it around 18:00UTC.  Busy with family right now.

[2020-05-09 18:35] daflame76 commented on #439
That fixes it alright.

[2020-05-09 18:37] daflame76 commented on #439
Although I'm pretty sure that patch is the wrong fix.  Seems more like there is an issue with the calculated width to me.

[2020-05-09 18:56] daflame76 commented on #439
I think I found the actual issue.  it is with platform/screen.c in scale_logical_to_pixels().  That method doesn't handle the rounding properly.

[2020-05-09 19:16] daflame76 commented on #439
Try changing the methods to include rounding and see if that fixes it.

[code]

I might be wrong about one of the methods.  I need to verify the rounding calculation still.

[2020-05-09 19:45] crudelios commented on #439
You're right about your conclusion, we haven't fixed the underlying issue, but simlly rounding up will result in wrong values being calculated for other screen sizes. The only perfect solution would be to use `float`s instead of `int`s for pixel values  which would be its own can of worms :/

[2020-05-09 19:47] daflame76 commented on #439
I disagree.  Rounding half-way should not break other screen sizes.

[2020-05-09 19:51] daflame76 commented on #439
Although, if there is a concern there maybe a few tests are needed to verify this is safe to change.

[2020-05-09 19:55] daflame76 commented on #439
In effect what I am doing is close to a float 0.5 rounding method.

[2020-05-09 20:14] daflame76 commented on #439
After doing all the calculations I realize what you are saying.  I think using the second method gets the correct results.  Using them together compounds rounding errors.

[2020-05-09 20:14] crudelios commented on #439
I tested your code:

[code]

`2560` gets converted to `2561` :/

[2020-05-09 20:21] daflame76 commented on #439
Try using just the scale_pixels_to_logical() modifications.  It does seem like we need to preserve more decimals to get this right though even if they are stored as integers.

[2020-05-09 20:24] daflame76 commented on #439
If none of this works, just go ahead with those changes @crudelios since they will work around the issue for now.

[2020-05-09 21:45] crudelios commented on #439
Just using `scale_pixels_to_logical` turns 2558 to 2557, and will round down every three numbers.

[2020-05-09 21:49] daflame76 commented on #439
To be honest, it seems like two logical mappings are needed here:
1. The scaled actual which preserves at least two of the decimals for scaling (stored as an integer in *100 format).
1. The in-game logical which maps to the game screen (calculated from scaled actual).

The scaled actual would be mapped back to the screen whenever possible not losing pixel accuracy instead of trying to remap the de

[2020-05-09 22:17] bvschaik commented on #439
I found the cause of this. From the [SDL 1.2 to 2.0 migration guide](https://wiki.libsdl.org/MigrationGuide) with regard to SDL_RenderSetLogicalSize, which we are using for the scaling:

The letterboxing causes SDL to add one black pixel to the right in our case, which causes that pixel to not be scrollable without the fix we did today.

I'll have a look at the SDL source to see how they map the p

[2020-05-10 07:15] bvschaik commented on #439
I did some experiments: with the original code, we get these results when attempting to scale (where "letterbox" means an additional pixel at the bottom, and "sidebar" means an additional pixel at the right):
[code]

And with @daflame76's suggestion:
[code]

Conclusion: it doesn't matter how you do the scaling, there will always be cases where there is a 1px discrepancy between what we want and wh

[2020-05-10 11:09] #439 closed

[2020-05-10 11:17] daflame76 commented on #439
Yes, that is also the conclusion @crudelios and I came to if more significant digits aren't preserved in the process of scaling.  It just loses precision on the return trip.   However, I also discovered exceeding 2X can lead to more than 1 pixel of sidebar.

Try 3.3.

[2020-05-10 11:37] daflame76 commented on #439
This fix works for all the corner cases that I've tried.  Thank both you for this.

[2020-05-10 14:33] ArtySh0ck commented on #415
guys im sorry i could not come here for so long time (have a problems with my notebook)

and i have a question: what means Language Packs and where can i download it?

[2020-05-11 10:18] ArtySh0ck commented on #415
`    {TR_NO_PATCH_TITLE, "Патч 1.0.1.0 не установлен"},
    {TR_NO_PATCH_MESSAGE,
        "Патч 1.0.1.0 в вашей версии игры Цезарь 3 отсутствует. "
        "Вы можете скачать патч здесь:\n"
        URL_PATCHES "\n"
        "Продолжайте на свой страх и риск."},
    {TR_MISSING_FONTS_TITLE, "Missing fonts"},
    {TR_MISSING_FONTS_MESSAGE,
        "Ваша версия игры Цезарь 3 требует наличие дополнител

[2020-05-11 12:43] fetchinist commented on #415
I made the game into the original condition to check if the message is working properly other than the option.

And I played the game. But the message that the font was not installed was not printed except for the alphabet because there was no font.

I think we should change the message to English or use a different method for the language that needs the font.

![q](https://user-images.githubuserc

[2020-05-11 12:55] crudelios commented on #415
Nive catch! If the font is not detected the text should just default to english...

[2020-05-11 18:08] bvschaik commented on #415
@fetchinist Wow, nice catch indeed. Yes, I'll just force those texts to English.

@ArtySh0ck Thanks for the translation. There are a few texts that are too long though, and I think you forgot to translate a few strings:

[code]

These ones are too long on the config screen:
![city 2020-05-11 19 46 07](https://user-images.githubusercontent.com/104874/81594223-d97be200-93c0-11ea-9043-fc010e867a1a.pn

[2020-05-12 09:46] Samsoulee opened #443 "Psvita : unrecoverable game freeze when using the ps button (or the sleep button)"
Hi, I'm having a problem on psvita each time I play the game :
The game works fine but everytime I push the ps button (the one that brings you to the psvita home screen) and then come back to the game (even instantly) the game sound shuts down and the game freezes up, and I have to close it.
It does the same with the power ( = sleep) button .
Any idea why ?
For info, I use an SD2VITA with no issue

[2020-05-12 11:11] crudelios commented on #443
This is likely an issue with SDL and not something we can fix ourselves, but I don't know nearly enough about PSVita to be sure.

Anyway, @devnoname120 may have a better idea.

[2020-05-12 11:53] Samsoulee commented on #443
Did I post this issue in the wrong place ? (sorry i'm old)

[2020-05-12 11:56] crudelios commented on #443
You didn't. This may very well be an issue with Julius, it needs investigating and I don't know enough about Vita to confirm my suspicions about SDL being the culprit.

[2020-05-12 16:59] ArtySh0ck opened #447 ""Mute music" button in main menu?"
I LOVE Caesar's III in-game soundtracks and play with listening to them, BUT... sometimes i need to run C3 to check something in main menu, and often im listening my youtube playlists, and... you know how it works when to songs playing in one moment, and i cant mute c3 music while main menu, i need to load some map, go to options and mute it there, or i need to pause my playlist... horrible things

[2020-05-12 17:07] ArtySh0ck opened #448 "How about to clone Language Option from Settings to Main Menu?"
How do you thing, would it be efficient if Main Menu have a same option of Change Language as Settings Menu has? By my opinion it would be cool, cause some of my people are too bad in English (even worse than me, can u imagine? xD ) and when they install Julius 1.4.0 with russian language pack im afraid they will have some problems to switch language of game... cause its too difficult to click Set

[2020-05-12 17:18] crudelios commented on #447
How about a `--no-audio` command line instead?

[2020-05-12 17:21] crudelios commented on #448
I can undrrstand that, but the truth is the main menu is becoming overcrowded with buttons already!

Also, since they need to follow instructions to add the language pack, it's just a matter of telling users where to go to change the language.

[2020-05-12 20:02] ArtySh0ck commented on #448
as an option, maybe this setting in main menu can be located in some corner... or this idea is really bad

[2020-05-12 20:04] ArtySh0ck commented on #447
this way almost the same as load map and turn music off, cause, sometimes we need to add this command line to shortcut or run command, and sometimes we need to erase this command line. too hardly to switch. i thought it is maybe as one little button in some corner of main menu.

[2020-05-12 20:26] crudelios commented on #447
I honestly don't think we should be crowding the main menu with all these buttons, big or small.

What I think that could be done is to integrate the in-game options menu with the Julius configuration options. That way the audio options would be accessible from the main menu.

[2020-05-12 21:28] devnoname120 commented on #443
@Samsoulee which plugin do you use for SD2Vita? I suggest using https://github.com/xyzz/gamecard-microsd/releases/latest

[2020-05-13 04:30] TheRealAyCe opened #450 "Autosave filename in the used language"
I would expect the autosaves "Architect", "Citizen", etc. to be named "Architekt", "Bürger", etc. in the german version. I just checked, and c3.exe saves them with the german names, Julius always uses english. Is this intended or just an oversight?

[2020-05-13 06:49] Samsoulee commented on #443
Hello, I Updated the plugin to that 1.6 version and still the same problem
... *sad face*
(^__^)

Manu.

Le mar. 12 mai 2020 à 23:28, devnoname120 <notifications@github.com> a
écrit :

[2020-05-13 18:04] bvschaik commented on #447
I agree with crudelios: the main menu is crowded already, compared to Caesar 3, so we won't be adding any more buttons. Besides, we only add functionality that will benefit a large percentage of users, and I don't think this is one that many people will use.

[2020-05-13 18:04] #447 closed

[2020-05-13 18:06] bvschaik commented on #448
Like I mentioned in your other issue: the main menu is too full of buttons so we won't be adding more. Also, detecting languages is a pretty time-consuming operation, something I don't want to do on the main menu.

[2020-05-13 18:06] #448 closed

[2020-05-13 18:45] bvschaik commented on #450
Hmm, interesting. The file names used for the autosaves are hardcoded into the executable, also for the original Caesar 3 versions. Apparently the German version also changed those names; I never knew that those were translated as well.

Theoretically we could use the player's rank and add `.sav`, but we have a problem with the different encodings we need to support: for Traditional Chinese we nee

[2020-05-14 04:07] constant-current commented on #450
Same with French but I didn't mind to report because I don't like this naming scheme at the first place as it's not intuitive so I systematically rename my manual saves. But I see the annoyance if you autosave.

@bvschaik  Can the saving names be more intuitive (something like 03-Engineer-Capua-auto-0001.sav) or is it too problematic for retro-compatibility? Sorry if this was already asked before.

[2020-05-14 08:03] TheRealAyCe commented on #450
I agree with @constant-current, I never liked that naming schema too. The proposed one is great imo. :D I also like the idea of having certain non-vanilla fixes/improvements switchable in the options, so maybe the savegame naming schema could be toggled between "legacy" (as it is now, maybe including the translation fix) and "structured" (the save name tells you the mission number and city name -

[2020-05-14 13:35] ArtySh0ck commented on #415
{TR_NO_EDITOR_TITLE, "Editor not installed"},
{TR_INVALID_LANGUAGE_TITLE, "Invalid language directory"},
{TR_MISSING_FONTS_TITLE, "Missing fonts"},
as
{TR_NO_EDITOR_TITLE, "Редактор карт не установлен"},
{TR_INVALID_LANGUAGE_TITLE, "Неправильная языковая директория"},
{TR_MISSING_FONTS_TITLE, "Шрифты отсутствуют"},

----------------------------------------------------------

short versions:
{TR_BU

[2020-05-14 13:43] ArtySh0ck commented on #415
and question... files of translation of Julius Configuration Menu will be located in julius.exe as packed or in Language Pack? thanks

[2020-05-14 14:15] ArtySh0ck opened #451 "Original, but, remastered Main Menu? (for future...)"
![image](https://user-images.githubusercontent.com/46932541/81943694-5ea30900-9604-11ea-8640-86f98ddde2d1.png)

Do you like it? That black "padding" around menu is so sexy when you play it 1920x1080 for example...

Why cant we resize (with quality ofcrs) that background image and do it autoresizable in depending of user's screen resolution? and then, we can do these button, or, larger (if we need)

[2020-05-14 14:24] crudelios commented on #451
This is better suited for Augustus, not Julius. In fact, given enough time (think years) and developer dedication, Augustus' user interface may get a revamp.

From a technical standpoint, it's not so easy to implement those ideas. Julius does not have any sort of image scaling, and loading custom images is not supported (it's planned for Augustus though). Allowing images to scale would require a b

[2020-05-14 15:44] ArtySh0ck opened #452 "Strange bug with Reservoir"
It's second mission.

![image](https://user-images.githubusercontent.com/46932541/81954876-11c62f00-9612-11ea-94ae-018ddedb076e.png)

1. Take a look to these TWO fountains. Now i will try to build reservoir using Julius Water Highlight.

![image](https://user-images.githubusercontent.com/46932541/81955044-4a660880-9612-11ea-8a1e-b25841936724.png)

2. You can see those two fountains covered by this

[2020-05-14 15:51] ArtySh0ck commented on #452
BUT i try it in another map, and there its good!

![image](https://user-images.githubusercontent.com/46932541/81955786-3373e600-9613-11ea-9b24-b568681ae801.png)
![image](https://user-images.githubusercontent.com/46932541/81955918-5c947680-9613-11ea-8eca-9ddcda1f9bee.png)

[2020-05-14 15:53] ArtySh0ck commented on #452
NEW thing. These "empty highlight holes" depends on how we rotate map in 2nd mission

![image](https://user-images.githubusercontent.com/46932541/81956504-0ecc3e00-9614-11ea-9f23-08bed62b9cf0.png)

[2020-05-14 15:56] crudelios commented on #452
Confirmed. Must have something to do with the map size. Thanks for the report!

[2020-05-14 16:36] ArtySh0ck commented on #452
you have so low resolution, u play with tablet?

[2020-05-14 16:56] crudelios commented on #452
No, I reduce the resolution to take the screenshot :wink:

[2020-05-16 07:28] NeoXaero commented on #451
I've been trying to make Keriew do a new main menu revamp, and he doesn't seem to have that on his plans right now, i've even volunteered to design the new UI, and i got a big NO, so yeah.

We'll have to wait.

[2020-05-16 13:08] constant-current commented on #450
It's just a crude example. Also this might be more suited to Augustus, that's why it's a question rather than a suggestion. ;-)

[2020-05-16 13:57] crudelios commented on #450
Autosaves can definitely be improved, our original problem was that the game didn't support displaying more than 200 files, but now that's been fixed.

The only problem now is file clutter if there are too many autosaves...

[2020-05-16 14:20] MegaVat30 opened #455 "Cursor disappearing when clicking with the right mouse button"
As the title says. Sometimes wean I click with the right mouse button on any building or on anything in general, the cursor is disappearing.

The cursor can appear back if I pres 'shift+tab' to bring the Steam overlay, but this works not every time.

Clear Steam install
Windows 10
1.4.0 stable ver.

[2020-05-16 14:23] crudelios commented on #455
Hi, thanks for the report?

Are you moving the cursor when you click it? You can right-click drag to move the map and when in that mode the cursor disappears, but it should reappear when you stop.

[2020-05-16 14:32] MegaVat30 commented on #455
Hi! Thanks for the suggestion.

I maybe indeed move my mouse **very slightly** when I click the button. But the cursor is not appearing back after this.
The only solution is Alt+F4.

[2020-05-16 14:46] crudelios commented on #455
Just for testing, can you try [this version](https://ci.appveyor.com/project/bvschaik/julius/builds/32721310/job/aqs9f7mk7j8mc8ps/artifacts) please?

It's an older build before some changes I made (for reference: it's right before the merge of #434).

[2020-05-16 15:05] MegaVat30 commented on #455
Both versions have the same problem.

I noticed that the first time click and drag the camera with the right button it's working normally. But on the second click, my mouse cursor is disappearing. During that the game running normally and it responses on keyboard inputs.

Maybe it has to do something with the 4K resolution? However, I'm experiencing the same problem in window mode.

[2020-05-16 15:11] crudelios commented on #455
Thanks for the report.

When the mouse cursor disappears, does the game open a window (like the building/terrain properties window) or does it stay in the normal city view?

[2020-05-16 15:15] MegaVat30 commented on #455
It stays in a normal view.
But if I go to Steam overlay and return back with the cursor repairing, there will be an open window of the building information on witch I clicked before.

[2020-05-16 15:22] crudelios commented on #455
I cannot reproduce the bug. It may be an incompatibility with the steam overlay.

Try opening Julius outside of Steam to see if it happens.

[2020-05-16 15:34] #452 closed

[2020-05-16 15:48] MegaVat30 commented on #455
Ok, the bug was caused by renaming julius.exe to c3.exe in order to lunch the game from the Steam library. WIthout renaming the exe file the game works as intended.

In order to lunch game from the Steam library open SierraLauncher.ini and replace 'Game1Exe=c3.exe' with the 'Game1Exe=julius.exe'

Thanks for the help!

[2020-05-16 15:48] #455 closed

[2020-05-16 15:50] crudelios commented on #455
Strange... But you can manually add julius.exe to the steam library and it will also work, that's what I did :+1:

[2020-05-16 22:12] TheRealAyCe commented on #450
Well, I'd like it even more if the game groups savefiles by their "origin", either flat or in a tree. That way you always know which savegame is the most recent for mission X, while still allowing you to start playing another mission. But that might be too complex for too little gain.

Where can I get Augustus?

[2020-05-17 00:55] vv221 commented on #383
@bvschaik, thanks to the binaries you now provide, we have a **./play.it** update under testing adding Julius as a proposed engine to play Cæsar Ⅲ: [Game update: Cæsar Ⅲ — Add support for native Julius engine](https://forge.dotslashplay.it/play.it/scripts/-/merge_requests/787)

It seems to work quite well, so should be included in a public release soon.

[2020-05-17 07:50] bvschaik commented on #451
We have to work with the images and texts we have available. Resizing the background can be done but will become pixelated, I don't think this is what we want:

![main_menu_scaled](https://user-images.githubusercontent.com/104874/82138673-8a9bd580-9822-11ea-8934-6a99e801e4f3.png)

All the letters are images: we can't do bigger letters, or bigger buttons for that matter.

We have to work with the t

[2020-05-17 07:50] #451 closed

[2020-05-17 10:27] bvschaik commented on #415
Thanks!

All hotkey texts are shown on Main Menu -> Options -> Hotkeys. The battle info is shown in the editor: on the empire map you can toggle distant battle positions.

In the .exe file.

[2020-05-17 17:13] crudelios commented on #415
Hey everyone!

I'll need two future translations soon:

`Highlight legion on cursor hover`
`Enable military sidebar`

Thanks!!

[2020-05-17 18:21] m-mohr commented on #415
@crudelios German:

`Hebe Legion beim Berühren mit der Maus hervor`

`Aktiviere rechtsseitiges Bedienfeld für Legionen`

Could you also change
[code]
to
[code]
?

That makes the translations more consistent.

[2020-05-17 18:42] constant-current commented on #415
French :

`Mettre en surbrillance les légions au survol du curseur`

`Activer la gestion militaire dans le panneau latéral`

[2020-05-17 19:18] crudelios commented on #415
@m-mohr

Done 👍

And thanks to both for the new translations!

[2020-05-18 07:39] fetchinist commented on #415
@crudelios Korean:

`Highlight legion on cursor hover`
커서가 올라간 군단 강조

`Enable military sidebar`
군단 제어판 표시

[2020-05-18 17:51] Dgeremi opened #458 "Warehouse can't GET more than 8 units of pottery"
Hi,
STR:
Build 2 warehouses not connected with road
Fill one of them with pottery
On the second one mark pottery as "getting"

Expected result:
Second warehouse filed with pottery from the first warehouse

Actual result:
Only 8 units were get from the first warehouse after that it stopped getting pottery

Attaching savefile of my custom map. Also attaching screenshot, playing on Russian versio but

[2020-05-18 19:01] bvschaik commented on #458
Actually, this behaviour is also present in Caesar 3: if a warehouse has 4 or fewer of a resource, it will send out a cartpusher to get a further 4 loads, so in total it has 8. If it has 5 or more, it will not get any more.

Since it also works like this in Caesar 3, and Julius does the same, I'm closing the issue.

[2020-05-18 19:01] #458 closed

[2020-05-18 19:57] crudelios commented on #458
I believe this has been fixed in [Augustus](https://github.com/Keriew/julius).

[2020-05-20 19:06] catch220 commented on #415
@crudelios Russian:

Подсветить легион под курсором

Включить военную панель

[2020-05-20 20:04] mase76 opened #460 "Separate save directory and options file in the user's home"
Hi!
Wouldn't it be better to have a separate directory for savegames and options in the user's home, instead of having it in the assets dir? Maybe ~/.config/julius. On multiuser systems each user must install the same assets in his homedir. The config file could also include the path to the assets, instead of adding it to the commandline. When installing the game, a desktop entry is created, but w

[2020-05-20 22:13] crudelios commented on #460
Hi @mase76, thanks for your interest.

The idea of Julius is to retain 100% compatibility with the original Caesar 3, so savegames saved on one game should be able to be loaded on the other and vice-versa. That means that the savegame structure must be identical to C3's (meaning, it must be in the same directory as the assets), otherwise the original C3 won't be able to find the games.

That being

[2020-05-20 22:16] crudelios commented on #450
@TheRealAyCe

[Here](https://github.com/Keriew/julius) :wink:

[2020-05-20 22:41] mase76 commented on #460
Strange, I did not get a file dialog asking for the assets.
Starting julius from the commandline threw many file not found messages.

[2020-05-20 23:27] crudelios commented on #460
So it didn't appear at first? Only errors then it crashed/closed?

[2020-05-20 23:39] mase76 commented on #460
Exactly. I patched the desktop file and added the assets path and the scaling to it, when I built a Debian package.

[2020-05-21 10:07] crudelios commented on #460
I want to try to replicate this problem.

Can you please tell me what file you downloaded and which steps you took when Julius gave the error without showing the dialog window?

[2020-05-21 10:54] mase76 commented on #460
I have built it from source on Debian Bullseye from this tarball:
https://github.com/bvschaik/julius/archive/v1.4.0.tar.gz
The same with Augustus from:
https://github.com/Keriew/julius/archive/v1.2.0.tar.gz
Both with the same issue. I copied the assets to ~/.local/share/julius. First I tried to launch from the starter. As nothing happened, I started from terminal with the julius command, which thr

[2020-05-21 11:43] crudelios commented on #460
Can you still reproduce the error messages somehow to display them here?

I believe this is a problem with tinyfiledialogs (it's rather sensitive to installed libraries) but since debian is so configurable it's nearly impossible to replicate the exact system you have.

[2020-05-21 12:25] mase76 commented on #460
I cannot find the config in my homedir, where the current assets path is stored. I need to delete this to get a fresh installation.

[2020-05-21 12:37] crudelios commented on #460
Try `~/.local/share/bvschaik/julius`

[2020-05-21 13:12] mase76 commented on #460
Did so. The dialog appears. I cannot reproduce the issue any more.

[2020-05-21 13:24] crudelios commented on #460
That is strange. Maybe you installed some UI component meanwhile that made tinyfiledialogs work.

Regarding the save directory issue, @bvschaik, what do you think? I think adding an option and then, when the config is changed, showing a dialog informing of the new location of the save dir could work.

[2020-05-21 13:38] mase76 commented on #460
The thing is, the method of storing the savegames directly in the application folder is about 20 years old. I think, the julius engine should store it in ~/.local/share/bvschaik/julius. Also all game options should go there. That would make only one assets set for all users necessary. To use the savegamers with the original Caesar 3, whyever you want to do this, you could copy the savefiles into t

[2020-05-21 16:29] catch220 commented on #415
I had already made an alternative Russian settings translation. Strings are shorten, naming is consistent with 1C version of localization. Maybe it will be useful) Thanks  to all for the game revival and, particulary, for linux version.

[code]

[2020-05-21 16:49] catch220 opened #462 "Cursor does not reappear if window pops up during right click scrolling"
Latest unstable version, linux. When scrolling city with long right click (cursor dissapeared), have got a promotion (end mission) window. Cursor did not appeared, can't select anything and continue. Could you possibly check this?

[2020-05-21 17:07] crudelios commented on #462
I was planning to fix this on #461 and forgot, now I'll add it.

[2020-05-21 19:58] ArtySh0ck commented on #415
catch220 good translation! but "Исправить баг иммиграции на /"тяжелой/" сложности"}," будет правильнее сложность указать как Очень сложная. Very hard diff, cause that bug appears only while Very Hard.

[2020-05-21 21:11] crudelios commented on #415
Thanks to both, @catch220 and @ArtySh0ck!

[2020-05-21 22:59] crudelios commented on #460
After speaking with @bvschaik, we concluded it's best not to implement this in Julius. Doing so would also require user-specific settings, which would break compatibility with C3.

Since Julius is meant as a drop-in replacement, that change would be too big.

However, this may be doable in Augustus.

[2020-05-22 00:49] mase76 commented on #460
I was able to reproduce the assets error by doing a fresh install. This is the terminal output:
`INFO: Julius version 1.4.0
INFO: Initializing SDL
INFO: SDL initialized
INFO: Loading game from working directory
INFO: No key found on layout for  [
INFO: No key found on layout for  ]
INFO: No key found on layout for  =
ERROR: 'c3.eng' or 'c3_mm.eng' files not found or too large.
INFO: Loading game f

[2020-05-22 07:40] crudelios commented on #460
Thank you for the report, as I suspected it's a problem with tinyfiledialogs, I'll have a look.

[2020-05-23 17:09] #460 closed

[2020-05-23 17:10] crudelios commented on #460
@mase76 Can you please try the latest build? Your problem should be fixed.

[2020-05-23 17:47] mase76 commented on #460
Yes, that fixed the issue. Will this also flow into Augustus, which has the same problem?

[2020-05-23 18:03] crudelios commented on #460
Glad it's fixed :smiley:

Yes, it will eventually flow when the most recent changes from Julius are merged.

[2020-05-25 09:01] agruzdev opened #465 "Pause music and sounds when the game is minimized"
P.S. Can try to implement myself

[2020-05-25 11:33] TheRealAyCe opened #466 "Plaza with Aqueduct weirdness"
Fancy Road = Road+"Plaza?" not sure what the english word is, it's "Platz" in german.

The game shows you that you can build an aqueduct on top of a fancy road, but you can't (green, but clicking does nothing).

I also had it happen that a completely hidden road was created. Even though nothing showed on the tile, I couldn't place anything there. I first placed the road, then the fancy upgrade, th

[2020-05-25 12:21] crudelios commented on #466
I've compared all your bugs to the original C3:

C3 also shows green, however it does warn that you "Must build on clear land", which Julius doesn't. So that needs to be addressed.

I'm not being able to reproduce this. What exact steps did you take? Which order did you build things on?

This is a bug with the original C3 as well. You aren't supposed to be able to build an aqueduct over a road end

[2020-05-25 14:51] crudelios commented on #465
Actually, pausing the whole game (not just the sounds) while minimized would be nice!

If you want to implement it yourself (we are rather short on time right now), beware as it requires interaction between SDL and many game elements, and we are quite strict about where SDL code can be used in the project.

[2020-05-25 14:56] agruzdev commented on #465
Sorry then, can't promise any deadlines, due to my main job to do as well
I considered it as a nice feature to think about in free time

[2020-05-25 15:12] ArtySh0ck commented on #415
![image](https://user-images.githubusercontent.com/46932541/82824989-077a1f80-9eb3-11ea-973f-c482d7160814.png)

about highlighting watersupply zone when construct water-buildings. i think we can say "Отображать зону водоснабжения при строительстве зданий водоснабжения", we swap "площадь" to "зону", it will save about 3 letters.

[2020-05-25 15:16] crudelios commented on #465
No problem, this will stay here until it's adressed.

[2020-05-26 11:27] Samsoulee commented on #443
Do you think this could be related to henkaku enso ? or the sd2vita card itself ?
i'm surprise to be the only one to have this probelm ...

[2020-05-26 14:22] theradeonxt commented on #443
I have no experiece for Ps Vita, but does the same sleep scenario cause problems for Windows or Linux?
I assume it's a SDL + platform combination which makes this happen,

[2020-05-26 14:28] bvschaik commented on #443
No, it doesn't because window handling is totally different on those platforms. I also suspect something with the way Vita handles things.

Unfortunately both crudelios and myself are not familiar with the Vita at all, and do not have access to a physical Vita to test things, so it's impossible to debug from our end. Vita support was built by @devnoname120, maybe he can suggest something?

[2020-05-27 07:43] #462 closed

[2020-05-27 08:46] bvschaik commented on #465
It's a 'nice to have' so don't worry about time :)

I tried to implement this way back in the day when Julius still used SDL 1.2 and I gave up.
Some things to keep in mind:
- There's a difference between the game actually being minimized and the game being in a window that no longer has focus. Some operating systems / desktop environments don't truly support minimizing windows.
- We have a bit of

[2020-05-27 11:07] crudelios commented on #443
I'm getting a Vita to test this (they're cheap enough nowadays), so maybe I'll have an answer next week.

[2020-05-27 14:27] Samsoulee commented on #443
Wow, thanks man, that's dedication ! and welcom to the psvita family :)
Plenty of good games here 👍

[2020-05-28 16:15] ArtySh0ck commented on #465
this feature could be as option in Options Menu. as a checkbox "Mute sounds and music when minimized".

[2020-05-28 20:43] crudelios commented on #443
@Samsoulee:

Thanks, looking forward to playing Persona 4 Golden 😃

Anyway, so I got the Vita (1000) and installed Julius.

Regarding your issue, I found that in my case, when I click on the PS button or the power button, the game does not crash but the music does indeed stop and not resume unless I go to the sound settings and manually restart it.

I'm not using an SD2Vita (yet), but I'm also run

[2020-05-29 08:16] Samsoulee commented on #443
Tested without ref00d, same problem : When i press the psbutton (or sleep button) the ingame sound stops, then a little while after that, the game freezes. It doesn't make my console crash but the game is totally frozen.
Ps : the sd2vita is mandatory for every psvita owner believe me ;-) (especially if you want to travel with your 50 psvita games + your 50 psp games )

[2020-05-29 11:00] crudelios commented on #443
I've ordered an sd2vita to see if that may be the cause.

Honestly while I can probably make the game restart the music if it stop, there's not much more I can do.

By the way, which version of Julius are you running? It should appear on the lower left corner of the main menu.

[2020-05-29 11:16] abdelrahmantoptal opened #469 "Can't start on Mac, missing language files"
on MacOS mohave, just followed build instructions here, and now starting the game from `build/julius.app` and it asks for folder location.
To debug, I started from terminal and executed `build/julius.app/Contents/MacOS/julius` from curdir `/build` and he output is

and then it tries directory `julius/build/julius.app/Contents/Resources/` but couldn't find that file still.

I tried `find . -name "*

[2020-05-29 11:21] #469 closed

[2020-05-29 11:21] abdelrahmantoptal commented on #469
I just realized that original game is needed use Julius. Closing the issue!

[2020-05-29 12:09] Samsoulee commented on #443
the last one : 1.4
The weird thing is that no other App or game has this problem.

Le ven. 29 mai 2020 à 13:00, José Cadete <notifications@github.com> a
écrit :

[2020-05-29 13:31] crudelios commented on #443
Please do an experiment: turn all the audio off in the sound settings (open a city and then on the top menu go to Options -> Sound Settings, set everything to Off (not 0% volume, actually off), click OK, then see if the problem persists.

[2020-05-29 15:36] crudelios commented on #443
I finally managed to reproduce the bug. Turns out the game only freezes if you have the wav music files playing, but not the mp3 (which stop the music but the game keeps going).

So, for now there are two workarounds:

1. Use the mp3 files for the music instead ofbthe wavs. Check [MP3-Support](https://github.com/bvschaik/julius/wiki/MP3-Support) for instructions. The mp3 files are of much better q

[2020-05-29 20:40] Samsoulee commented on #443
Ho yes ! It works fine without the music, I'm going to test with mp3s asap !
Nice !!

I finally managed to reproduce the bug. Turns out the game only freezes if

[2020-05-30 14:04] bvschaik commented on #443
@Samsoulee Could you try [this version](https://bintray.com/bvschaik/julius-branches/vita/pause-music-when-window-hidden-1.4.0.26-e6a02ca#files) and see if it improves things? I've made a change that pauses the music when the window is hidden, and resumes it when it's shown again. I hope that also covers the case with sleeping/going to home on Vita.

[2020-05-30 18:22] Samsoulee commented on #443
Hi, this version doesn't solve the problem with the wav version. - same problem.
With The mp3 files installed, the music cuts, but I can restart the music afterward + no freezes.

[2020-05-30 18:43] bvschaik commented on #443
Could you post julius-log.txt? I have added extra logging there.

[2020-05-30 18:59] Samsoulee commented on #443
[julius-log.txt](https://github.com/bvschaik/julius/files/4706260/julius-log.txt)

[2020-06-01 17:04] agruzdev opened #471 "Wrong popup message on building offroad houses"
When building houses too far away from a road, I get a weird popup message with text "before a.d." (Actually I see it in russian "до н.э.")
I checked an original Russian version, there is no message at all

[2020-06-01 17:08] bvschaik commented on #471
Please make sure you have the (unofficial) [Russian patch](https://bintray.com/bvschaik/caesar3-patches/russian/1.0.1.0) files installed: some texts were added in the patch, which the Russian game version never received. This "Some plots are too far from a road" message is one of them.

[2020-06-01 17:12] agruzdev commented on #471
Yes, it fixes this problem.
Thank you

[2020-06-01 17:12] #471 closed

[2020-06-01 18:10] Keriew opened #472 "Cliffs drawn improperly with improved visual feedback."
Julius 1.4.1 on Windows.

With "improve visual feedback when clearing land" selected, selecting the clear tool will cause the top parts of the cliffs to be drawn with some graphical glitches. This is particularly visible on the northern province maps, but other climates also show artifacts. Unselecting the tool redraws them properly. With the option turned off, the problem doesn't appear.

It appe

[2020-06-01 18:29] crudelios commented on #472
I've known about this for a while, but unfortunately this is not fixable. I had to change the way cliffs were drawn when using the visual feedback, and this was the best compromise I could manage.

[2020-06-01 18:49] bvschaik opened #473 "Some enemy figures have no picture"
Reported by MSTVD on Discord:

[2020-06-01 18:50] #473 closed

[2020-06-01 19:14] #472 closed

[2020-06-01 21:29] crudelios commented on #443
@Samsoulee:

Can you please try [this version](https://drive.google.com/file/d/1nt6BJMyPmx52zBIyMl7mDq3WkVZD_oVG/view?usp=sharing)?

It should stop the crashes.

However, since it loads the entire music into memory, it should be really slow when opening a music. At least it is, when using an official PSVita memory card. I haven't yet got my sd2vita to test.

Can you test the speed loading the musi

[2020-06-02 16:35] Samsoulee commented on #443
It says access denied for this google drive ....

[2020-06-02 17:56] crudelios commented on #443
@Samsoulee:

[Try this one](http://public.josecadete.net/julius.vpk), then. This is an updated build that should be much faster loading the music, especially if it's an mp3.

It's working fine for me now, so hopefully it will work well for you too.

[2020-06-04 05:06] DantoeJoe opened #476 "I lose my cursor if I right click and Drag"
Hello,

With the Julius mod, if I right click on the map the first time after I load it, I can drag the map.
After that, if I right click and drag again, my cursor just disappear (the game not freeze, and the keyboard works). I just have to ALT+F4 to unlock.

Any solution for that ?

Thanks.

[2020-06-04 07:53] crudelios commented on #476
What version of Julius are you running? Also, what OS?

As a workaround, pressing `Esc` to bring up the `Exit game` popup window should bring the cursor back.

[2020-06-04 11:08] Samsoulee commented on #443
yes, it seems to be working fine 👍👍
nice work !

[2020-06-04 11:13] #443 closed

[2020-06-04 11:23] #450 closed

[2020-06-04 12:03] DantoeJoe commented on #476
I'm using the latest version of Julius (1.4.1) with the steam version of the game.
`Esc` bring back my cursor.

The link you post (#455) is exactly my problem, and I solve it with what he explains:
`the bug was caused by renaming julius.exe to c3.exe in order to lunch the game from the Steam library. WIthout renaming the exe file the game works as intended.`

`In order to lunch game from the Steam

[2020-06-04 12:47] #476 closed

[2020-06-05 00:07] ArtySh0ck commented on #415
![image](https://user-images.githubusercontent.com/46932541/83822291-48efa380-a6d9-11ea-801d-57c53ac33505.png)

1. "иммиграции в режиме" - right way. without "в" between two sided words is wrong.
2. "Всё по умолчанию" or "Все по умолчанию". actualy "Всё" or "Все" in this case means almost the same, but "Всё" is better for a bit. "Вс по умолчанию" - is wrong.
Thanks!

[2020-06-06 17:14] MarkusCicero opened #478 "Text overlay"
Hello!
In the Russian version of the game there are problems with the display of text:
1) Text overlay in speech of some citizens. As an example, a cart pusher:
![01](https://user-images.githubusercontent.com/60564622/83949293-22527980-a84d-11ea-918a-59906fdf2bbe.jpg)
-the orange rectangle is his speech
-the red rectangle is its action

2) Report of a decline in the mood of citizens:
![02](https:/

[2020-06-06 21:38] abdelrahmantoptal opened #479 "Two health entries in Chief advisor"
![image](https://user-images.githubusercontent.com/20311318/83955001-97727e80-a84e-11ea-9367-25008591bad1.png)
In the Chief advisor view the Health entry appears twice.

[2020-06-06 21:45] abdelrahmantoptal commented on #479
I think the second one should be Religioin

[2020-06-07 06:53] bvschaik commented on #479
Good find! The second one should indeed be Religion.

[2020-06-07 06:54] #479 closed

[2020-06-07 12:09] bvschaik commented on #478
Thanks for reporting, both issues should be fixed now.

[2020-06-07 12:09] #478 closed

[2020-06-07 12:17] bvschaik commented on #415
@ArtySh0ck Thanks. The first one has been fixed. For the second one: it looks like the game doesn't have an image for the "ё" character so it was changed to a space; I'll just change it to "Все" then.

[2020-06-07 12:38] bvschaik commented on #466
The aqueduct-turned-into-roadhouse bug is fixed. I think we tackled all oddities now, so I'm closing the issue. Thanks for reporting!

[2020-06-07 12:38] #466 closed

[2020-06-09 22:03] Keriew opened #481 "Storages getting linked"
When a granary or warehouse is destroyed and afterwards the destruction is undone with the use of an undo button, the storage is still marked as unused. This causes the next build warehouse/granary to use that same storage, causing them to become linked, making their special orders the same and having changes to one cause changes to the other.

This behaviour matches the behaviour of original Caes

[2020-06-09 22:43] ArtySh0ck opened #482 "Current Year/Month in Imperial Map"
Oftenly i went to see Imperial Map to know how much marble i sold this year far, and how much iron i bought in this year far. I see 8/25, 10/25, but i forget to see current date before imperial map... and i forget and i forget, this thing repeats everytime. Today was a last straw... maybe some current Date in Imperial Map? There is a lot of free space, a lot of. Thanks!

![yo-leo-what-month-of-the

[2020-06-09 23:36] crudelios commented on #482
But... The current implementation adds to the mystery of the game, allowing it to keep the suspenseful nature we've come to love: "will the market lady turn right at the intersection, towards the houses that desperately need food... or towards the left, which only has industry?" (Disclaimer: of course the market lady will turn left!)

Other than that, apart from little spacing at 640x480 resolutio

[2020-06-09 23:41] crudelios commented on #481
I agree this should be fixed, and I think we shouldn't have a config for this. Granted the gameplay will change slightly, but this is a very random and annoying bug, and the savegames wouldn't be incompatible.
Loading a C3 city with linked storages in Julius will keep the link, loading a Julius city in C3 without linked storages will keep them unlinked (unless the user does the undo thing in C3 to

[2020-06-09 23:53] Keriew commented on #481
Loading a city with linked warehouses/granaries already unlinks them both in Julius and (patched) C3. The problem is only with formation of new links.

[2020-06-10 00:22] ArtySh0ck commented on #482
we could consider this one as option in Julius Configuration Menu?
- Show current Month/Year on Imperial Map [ x ] / [   ] // or something?

[2020-06-10 07:28] crudelios commented on #481
Oh ok, I didn't know about that. That's yet another reason to fix it then.

You've added a fix to Augustus, right?

[2020-06-10 07:41] bvschaik commented on #481
Thanks for finding and fixing it! I knew there were still cases of storages getting linked but couldn't find out how.

I cherry-picked [your commit](https://github.com/Keriew/augustus/commit/92f56ec6a28970cd8b2043c42f34cd7bbe25cb49) as 5ea301e.

[2020-06-10 07:41] #481 closed

[2020-06-11 13:48] BeWorld2018 opened #484 "SDL2 Renderer"
Hello

Little bug.

First test SDL_CreateRenderer() (screen.c) SDL_RENDERER_PRESENTVSYNC use (ACCELERATED MODE), but second test use : SDL_RENDERER_PRESENTVSYNC | SDL_RENDERER_SOFTWARE. and not working.

SDL_RENDERER_SOFTWARE can't working with SDL_RENDERER_PRESENTVSYNC (doesnt support this flag)

I could test it because MorphOS SDL2 version dont have yet SDL_RENDERER_ACCELERATED (working only in

[2020-06-11 15:51] bvschaik commented on #484
According to the [documentation](https://wiki.libsdl.org/SDL_CreateRenderer#flags) the flags can be mixed without restrictions. If a software renderer supports vsync, we prefer that, but I think that means we need a third option that requests a renderer without any flags if the other two options fail.

Regarding MorphOS: does the game work properly on big endian devices? Especially loading/saving

[2020-06-11 15:54] crudelios commented on #484
If vsync fails, it will still create a renderer without vsync.

[2020-06-11 16:16] BeWorld2018 commented on #484
Ok, it's not a big problem :-)

Yes Julius and Augustus work perfectly !!! i play a few hours on it

[2020-06-11 19:00] crudelios commented on #484
Glad you like it and it works fine!

I'm closing this since there really isn't anything we can do to improve things.

[2020-06-11 19:00] #484 closed

[2020-06-13 03:39] Elielzices commented on #415
@NeoXaero será que posso fazer uma tradução para o PT-BR?

@ArtySh0ck is there a way to implement different translations for 'Portugal' Portuguese and Brazilian Porrtuguese?

[2020-06-13 07:27] crudelios commented on #415
@Elielzices there is, but the whole game would gave to be translated to Portuguese (Portugal) first. I simply do npt have time for that. Also, all the audio is in Brazilian Portuguese, so that would also have to be translated.

[2020-06-13 12:50] sTorrro opened #485 "Open source code Julius/Augustus"
HI, is this a complete copy with extra features, only using the 3D/2D assets from the original game, or does it run ontop of the original encrypted exe only adding extra features? Im asking because I want to study the code and learn to make similar simulation/strategy game. What scripting language is used, would I have to learn, to study this code?

[2020-06-13 12:56] crudelios commented on #485
Hi, this is original, open-source code, written in C.

It does not require the original exe in order to run, only the data files such as images, text and the like.

[2020-06-13 12:56] #485 closed

[2020-06-13 16:32] Elielzices commented on #415
@crudelios Sorry, I never knew Portugal didn't had a full translation :/
anyway, may I contribute to review your translation to brazilian portuguese?

[2020-06-13 19:31] crudelios commented on #415
Yes, please :)

[2020-06-13 20:28] Elielzices commented on #415
@crudelios modifiquei um pouco com o vocabulário que a gente usa aqui no BR. Mexi em alguns pontos só pra ficar parecido com o arquivo de tradução oficial do jogo (tipo naquele `Percorrer Legiões`). Dá uma olhada:

(I modified a bit with the vocabulary we use here in Brazil. Some words I just changed to match the game's oficial translation (like `Percorrer Legiões` for `Circular por Legiões`). Tak

[2020-06-13 21:04] ArtySh0ck commented on #415
hmmm... have a crazy idea but... dont know.

guys, if i translate all the game with ukrainian language, i mean:
- all briefings with voice and text
- all messages (text, i think)
- julius configuration menu

may we implement it? for me it could be a good experience with exicitngs, and, maybe, people from Ukraine will love c3 with ukranian translation much more than with russian one.

[2020-06-14 13:58] bvschaik commented on #482
To be honest I don't think adding a date to the empire map makes sense. Yes, it may be handy, but how hard is it to glance at the date before entering the empire map? Or just look at the trade numbers, return to the city where you have the month available and then do the "oh, I still have half a year left to sell 15 marble" thinking. Besides that, there's nowhere to put it where it a) doesn't over

[2020-06-14 13:58] #482 closed

[2020-06-14 14:04] bvschaik commented on #465
I tried it out on Mac and Windows:

- Mac receives a `minimized` and `hidden` window event when using the orange minimize button, just a screen resize when maximizing using the green button, and only a `shown` event when it's restored from minimized state - no `restored` event.
- Windows receives a `minimized` window event when minimizing, `maximized` when maximizing, and `restored` when restoring

[2020-06-14 19:52] Keriew opened #487 "Combat music files are swapped"
In Caesar 3, track Combat_long.wav plays during the combat with at least 32 enemies, and otherwise combat_short.wav plays. In Julius they are played the other way around, because the constants and file names are mismatched.

[2020-06-15 07:05] #487 closed

[2020-06-15 07:05] bvschaik commented on #487
Good find, thanks!

[2020-06-15 13:24] bvschaik commented on #415
@ArtySh0ck Just a warning: it's going to be a LOT of work, even if you just do a text translation and leave out the audio files. There are two files to translate, and together they are more than 60,000 words that needs to be translated: that's a medium-sized novel.

If you're willing to make the effort, I can look into ways to support translations which require extra letters. To translate the game

[2020-06-15 14:45] robfairchild opened #489 "issue with win 10"
Hi

Is there any issues running this on win 10?
I have bought the game from steam and I placed the files in the save directory but when I run the game nothing happens, If I try to launch either julius or augustus win 10 blocks me from running it

[2020-06-15 14:54] bvschaik commented on #489
There should be no issues. If Windows blocks the executable, right-click julius.exe, go to properties and click "unblock".

[2020-06-15 15:13] robfairchild commented on #489
Hi Bianca

Thanks for the reply. I think I got it working now. Looks like my Av was
blocking it

On Mon, 15 Jun 2020, 15:54 Bianca van Schaik, <notifications@github.com>
wrote:

[2020-06-15 15:23] #489 closed

[2020-06-15 19:10] crudelios commented on #415
@Elielzices Thank you for your translation, it is indeed better 😃

Can you also please translate the following?

`Highlight legion on cursor hover`

And

`Show military sidebar`

Thanks/Obrigado!

[2020-06-15 23:17] ArtySh0ck commented on #415
Highlight legion on cursor hover - "Подсвечивать легион при наведении"
Show military sidebar - "Отображать боковую панель армии"

rus

[2020-06-16 21:12] Elielzices commented on #415
[PT-BR]

there you go

`Destacar legião ao passar o mouse`
and

`Mostrar barra lateral militar`

_[ ↑↑ that's the literal translation, but I'm not sure about the accuracy for the tool (I don't know how this feature is going to work haha] but this could be better ↓↓ :]_

`Mostrar atividades militares na barra lateral`

@crudelios we should work together translating the features for August too! _In

[2020-06-17 14:00] ksv1986voss opened #491 "How to install ?"
Hi Everyone, i tried as mentionned to put on a SD card the installed game and Julius.nro, but i cannot see it in the nintendo switch, am i missing something ? i tried a few times but no success.
Can you help me please ? Thanks

[2020-06-17 17:01] ksv1986voss commented on #491
Ah really ? That’s a shame a toujours it would be easier than that, because the author never mentionned a hacked switch
Do you have any complet tutorials ?

Envoyé de mon iPhone

[2020-06-17 17:45] crudelios commented on #491
We do mention a jailbroken (which means hacked) Switch is needed.

Per [our instructions](https://github.com/bvschaik/julius/blob/master/doc/RUNNING.md#switch), check [Nintendo Homebrew's Guide](https://nh-server.github.io/switch-guide/) for instructions on how to hack it.

Beware though: Switches bought after July 2018 are highly unlikely to be unhackable. Also, even if it is hackable, by hacking

[2020-06-19 17:36] #491 closed

[2020-06-20 09:17] crudelios commented on #415
Hello everyone!

I need translations for the string `Enable military sidebar` in Spanish and in Traditional Chinese.

Can someone help with that?

[2020-06-20 16:36] SzKrisz22 commented on #415
Hello everyone!
I would like to translate the options menu to hungarian. (If it's needed)
The game isn't translated officially to hungarian, same case as ukranian language. So I would translate the game texts to hungarian too.
Years ago I downloaded a hungarian mod, which I can't find anymore online. It's not perfect, and it's only halfway complete.
But, I have a problem...
I can't convert the c3.

[2020-06-21 10:10] anon569 commented on #415
@SzKrisz22 This is the most complete Hungarian translation of C3: http://magyaritasok.hu/magyaritasok/caesar-3/caesar-3-klei/1139

[2020-06-21 15:18] SzKrisz22 commented on #415
@anon569
Thanks for the link. Probably I have that version. It's only 70% complete. And I would like to increase that number in my free time. But, the encoding is still a problem.

[2020-06-22 09:06] SzKrisz22 opened #493 "Deleting save files with special characters"
I can't delete save files which contain a special letter (á, é, ű etc.)
It's not important (Can be deleted manually), but it's a bug.
It's probably present in the original game too, but I think it's an UI improvement, not a gameplay changer.

[2020-06-22 10:47] crudelios commented on #493
Bug confirmed on Windows. Definitely needs fixing.

[2020-06-22 12:00] #493 closed

[2020-06-22 12:00] bvschaik commented on #493
Yup, it was a Windows-only bug that's now fixed :)

[2020-06-22 12:55] bvschaik commented on #415
@SzKrisz22 Why isn't it possible to convert the file to XML using EngConverter? Hungarian should theoretically use Windows codepage 1251, just like Polish, though that of course depends on how the translation was done. A description of the ENG file format is here: https://github.com/bvschaik/citybuilding-tools/wiki/ENG-file-format

[2020-06-23 15:50] SzKrisz22 commented on #415
@bvschaik
Thanks for the response.
(So, I was DUMB.
I troubleshooted 3 hours in the wrong direction, and got confused.)
You are right. Windows 1250(polish?) is the correct encoding.
The converter clearly said: offset error.( I still don't know how I missed that)
I figured out, that notepad++ separates the strings in the eng file. Then the xml to eng works as it should.
I started copy-pasting, tran

[2020-07-01 07:50] SzKrisz22 opened #495 "Navigation impossible message"
Does anybody know, how to trigger the 'Navigation impossible' message?
(When the ships can't reach the docks, because of low bridges)
I found that message in the c3_mm.eng file, tried triggering it, but failed in the original game too.
Maybe it was patched and left in the eng file.
Is there a chance of reimplementing it?
(Now I get no working dock, or no message at all.)

[2020-07-02 06:46] bvschaik commented on #495
The message is in the code: if a trade ship somehow gets stuck you get this message.
But I haven't found a way to trigger that yet... if the dock is unreachable because of low bridges, no trade ship appears but you do get a "no working dock" message after a year. If you build a low bridge while a trade ship is sailing in, it will sail right through the low bridge, and disappear when it's done at t

[2020-07-06 19:41] bvschaik commented on #495
I looked into it: properly implementing the message requires either a change in the saved game format to record the number of working-but-not-connected-to-open-water docks (unacceptable) or a fairly expensive loop through all buildings every time a trader is created (also unacceptable). So unfortunately we won't reimplement it.

[2020-07-06 19:41] #495 closed

[2020-07-06 19:46] SzKrisz22 commented on #495
Oh, OK.
Maybe, if the sea traders wouldn't pass through the low bridges, the implemented method would get triggered. But this could cause stuck traders...

[2020-07-09 19:45] ralphcook opened #504 "Reservoir Overlay incorrect on rotated map (corrected for v1.4.0)"
This is in Valentia, though I've seen something similar elsewhere and just didn't follow it up,

When the user has selected a Reservoir building and is dragging it across the map (and if the option is selected), a light blue overlay shows the extent of the pipes that result from placing the reservoir at any given point on the map (at least those where it can be placed).

When I have the Map rotate

[2020-07-09 19:47] crudelios commented on #504
What version of Julius are you using? This was a known issue and was supposed to be fixed.

[2020-07-09 20:01] ralphcook commented on #504
I'm sorry, my mistake -- evidently this was corrrect for version 1.4.0, which I did not know had been released.

[2020-07-09 20:01] #504 closed

[2020-07-09 20:06] crudelios commented on #504
No problem. There are also many new features. Have fun!

[2020-07-09 21:50] crudelios commented on #274
I guess we can consider this issue fixed at last?

[2020-07-10 00:46] attrition commented on #274
There should be a hotkey for Undo, I think

[2020-07-10 15:12] attrition opened #505 "Graphics corruption when Undo-ing cleared housing"
When clicking UNDO after deleting a housing block, the houses re-appear but begin devolving. Some of these houses appear to stop drawing until they reach their original housing evolution.

Seen in Julius 1.4.1, present in unstable.

[2020-07-10 15:27] bvschaik commented on #505
This also happens in Caesar 3: when you delete houses, all occupants are kicked out, so if you hit undo it's basically a vacant lot with graphics corruption that stays there until new people move in, at which point it starts evolving rapidly.
Undo is unreliable.

[2020-07-10 15:30] attrition commented on #505
Addendum to my initial post. The graphics corruption appears when the house is re-occupied, as it remains the original house graphic until that time

[2020-07-10 17:08] crudelios commented on #505
I'm not sure about compatibility with savegames, but if the bug is only visual maybe we can/should fix it.

[2020-07-14 10:23] crudelios opened #506 "Bug with library coverage report on advisors"
From InvisibleArrow on Discord:

Please ignore in case this is already a known issue.

I still haven't tested to confirm.

[2020-07-14 10:43] #506 closed

[2020-07-16 20:29] bvschaik commented on #192
Since we now have support for the "official" Simplified Chinese translation, I'm closing this issue.

[2020-07-16 20:30] #192 closed

[2020-07-16 20:31] bvschaik commented on #274
Undo is not quite bug-free, to put it mildly, so I wouldn't want people to accidentally trigger it with a hotkey.

Regarding the hotkeys for buildings: I suppose what we have now is enough at the moment. If we need hotkeys for more buildings, a new issue can be created.

[2020-07-16 20:31] #274 closed

[2020-07-17 00:14] 411752230 commented on #192
Notes of the "official" Simplified Chinese translation

1.档案 rather 档盎
![QQ截图20200717081332](https://user-images.githubusercontent.com/14128007/87734563-8cbfe780-c805-11ea-9086-e659d41ddf5d.jpg)

[2020-07-17 08:43] bvschaik opened #507 "Bugs for the Simplified Chinese translation"
Notes of the "official" Simplified Chinese translation

1.档案 rather 档盎
![QQ截图20200717081332](https://user-images.githubusercontent.com/14128007/87734563-8cbfe780-c805-11ea-9086-e659d41ddf5d.jpg)

_Originally posted by @411752230 in https://github.com/bvschaik/julius/issues/192#issuecomment-659748087_

[2020-07-17 08:45] bvschaik commented on #192
I've created a new issue (#507) for problems with the SC translation: since this issue is closed I don't see the replies in the issue list.

[2020-07-17 14:30] 411752230 commented on #507
Texts needed to be translated

Originally posted by @bvschaik

[2020-07-18 11:43] 411752230 commented on #415
@bvschaik @crudelios
Traditional Chinese
1.Highlight legion on cursor hover
滑鼠懸停時高亮軍團

2.Show military sidebar
顯示軍隊資訊側欄

[2020-07-18 13:03] 411752230 commented on #507
神灵效果 rather than 神只效果
![QQ截图20200718205641](https://user-images.githubusercontent.com/14128007/87853041-8b8fd700-c939-11ea-9bc2-669f1eba87ec.jpg)

[2020-07-18 13:10] 411752230 commented on #507
Perversion among three dialog texts
1.'Exit the game or not' rather than 'pay money to open the trade route'
![QQ截图20200718205016](https://user-images.githubusercontent.com/14128007/87853148-72d3f100-c93a-11ea-85e7-1adcd9cea326.jpg)

2.'pay money to open the trade route' rather than 'Dispatch goods?'
![QQ截图20200718205037](https://user-images.githubusercontent.com/14128007/87853167-9139ec80-c93a-11

[2020-07-22 18:11] 411752230 commented on #507
Bad descriptions
![QQ截图20200723021048](https://user-images.githubusercontent.com/14128007/88212374-c1aabf00-cc89-11ea-9e02-af88185c0f11.jpg)

[2020-07-23 10:23] basilero commented on #415
Hi,
here's an italian translation for the setting menu.
HTH.

`

    {TR_NO_PATCH_TITLE, "Patch 1.0.1.0 non installata"},
    {TR_NO_PATCH_MESSAGE,
        "La tua installazione di Caesar 3 non comprende la patch 1.0.1.0. "
        "Puoi scaricare la patch da:\n"
        URL_PATCHES "\n"
        "Continua a tuo rischio e pericolo."},
    {TR_MISSING_FONTS_TITLE, "Font mancanti"},
    {TR_MISSING_F

[2020-07-23 20:26] bvschaik commented on #415
@basilero Thanks!
Some strings are too long, is there any way we can shorten them?
[code]
Also, could you provide translations for the following strings?
`Highlight legion on cursor hover`
`Construction hotkeys`

![italian too long](https://user-images.githubusercontent.com/104874/88335359-7b119f00-cd33-11ea-8899-e54705ca01f1.png)

[2020-07-24 08:47] basilero commented on #415
@bvschaik I imagined that those strings wouldn't fit, but I tried anyway...
Here's another try.

[code]
_Highlight legion on cursor hover_ is
_Evidenzia la legione al passaggio del cursore_ or if it's too long
_Mostra la legione sotto al cursore_

_Construction hotkeys_ is
_Scorciatoie per costruzione_ or if it's too long
_Tasti per costruzione_.

HTH

[2020-07-26 00:23] vhologram opened #508 "Wineskin issue"
How does one go about playing the julius patch of caesar 3 using wineskin winery on macOS High Sierra? The vanilla version of the game runs perfectly using wineskin but it keeps telling me I don't have the proper folder for Caesar 3 when I try to run julius.exe in a separate wrapper.

[2020-07-26 19:38] bvschaik commented on #415
@basilero Thanks! All of those fit nicely, the latest version of Julius includes your translation.

[2020-07-26 20:08] bvschaik commented on #508
It's better not use the Windows julius.exe on a Mac, since there's a [native julius.app](https://bintray.com/bvschaik/julius/mac/_latestVersion#files) version for Mac available that will offer better integration with your Mac.

When you first start Julius.app, it asks for your Caesar 3 folder. You'd have to find out where Wineskin stores its files and choose that directory in the dialog.

If you i

[2020-07-26 22:49] vhologram commented on #508
I can't get the Julius.app to work. I can't seem to find the Wineskin files in the dialog. I created a separate wrapper but it tells me that it isn't a proper caesar 3 folder when I select it in the directory. I get the same message when trying to run julius.exe. What is the correct way to install the game with the patch?

[2020-07-27 14:35] vhologram commented on #508
Thank you for your help.

[2020-07-27 14:35] #508 closed

[2020-08-07 16:46] RestedWicked opened #509 "Mouse cursor in 4k"
Hi! The cursor is not scaling (for me at least) in a 4k monitor.

[2020-08-07 17:37] crudelios commented on #509
Try starting the game with `--cursor-scale 2`.

[2020-08-07 21:35] RestedWicked commented on #509
that helped. thanks

[2020-08-07 22:15] #509 closed

[2020-08-12 12:25] virror commented on #415
`   {TR_NO_PATCH_TITLE, "Uppdatering 1.0.1.0 inte installerad"},
    {TR_NO_PATCH_MESSAGE,
        "Din Caesar 3 installation har inte 1.0.1.0 uppdateringen installerad. "
        "Du kan ladda ner installationen från:\n"
        URL_PATCHES "\n"
        "Fortsätt på egen risk."},
    {TR_MISSING_FONTS_TITLE, "Saknade typsnitt"},
    {TR_MISSING_FONTS_MESSAGE,
        "Din Caesar 3 installation be

[2020-08-14 13:48] bvschaik commented on #415
@virror Thanks!
Two strings are a bit too long:

- "Konfigurera kortkommando" -> can that be shortened to just "Kortkommando"?
- "Tryck nytt kortkommando" (edit hotkey title) -> perhaps "Nytt kortkommando"?

And could you perhaps also translate these new strings?
[code]

[2020-08-14 13:59] virror commented on #415
Yes, that would work just fine, regarding the new ones:
"Markera legion vid mushovring"
"Visa militär sidopanel"
"Byggnadskortkommandon"

[2020-08-14 14:41] bvschaik commented on #415
Thanks again! I now see I forgot to mention one recently added string, sorry about that. Could you also translate: "Clone building under cursor"?

[2020-08-14 14:53] Elielzices commented on #415
Portuguese BR
"Duplicar construção abaixo do cursor?"

[2020-08-14 15:05] virror commented on #415
"Klona byggnad under pekaren"

[2020-08-15 04:37] 411752230 commented on #507
Mismatched chars in different font sizes - Found by @bvschaik
案 -> 盎
按 -> 胺
岸 -> 肮
阿 -> 暗
奥 -> 哎
艾 -> 隘
啊 -> 挨
昂 -> 敖
昂 -> 敖
 III -> V

[2020-08-24 18:44] mixalis1987 opened #510 "Julius Crash / Freez on Launch. Manjaro Linux."
The crash happends when starting game. Monitot flash once and looks like it will start and then all I see is my desktop, but the process is still running. I have used the app a few weeks back fine.
NOTE: I managed to get in the game once since having this issue by restarting pc. The desktop flashed and loaded the game. But tested second time and would load the game again.
System Specs:

OS:

[2020-08-24 19:31] mixalis1987 commented on #510
I think its the xfce DE.
When I was trying it out again, at one point the DE froze / crashed and I could only see the app and wallpaper I had open, like Lutris etc. The taskbar was gone and so was the maximize / close button on the window manager.
That got me to think that it must be something with the DE, so I tested the game again anyway while the DE was busted (Have a link to the launcher in Lu

[2020-08-24 20:29] crudelios commented on #510
What is your SDL version?

[2020-08-24 20:35] mixalis1987 commented on #510
sdl: 1.2.15-14
sdl2: 2.0.12-2
sdl2_mixer: 2.0.4-4
lib32-sdl2: 2.0.12-1

[2020-08-24 20:52] mixalis1987 commented on #510
In Lutris if I press play and the game doesn't launch, I then press stop and play button repeatedly, I might be lucky and it will start.
performance while in game is great.

I dont use the official game launcher because it does the same thing. But with it on Lutris I can kill the process quicker and easier and try again. Till it lets me in.

[2020-08-24 21:38] crudelios commented on #510
This is very strange. I only have VBox for linux, so it isn't too reliable to debug.

It might very well be a xfce ptoblem though, I've always tested on gnome.

[2020-08-24 23:55] mixalis1987 commented on #510
Anyone else with Manjaro xfce that can try?

On Mon, 24 Aug 2020, 22:38 José Cadete, <notifications@github.com> wrote:

[2020-08-26 14:18] siddharthprabhu opened #511 "Numerical overflow when sending too strong a relief force"
As described [here](http://web.archive.org/web/20060712222055/http://caesaralan.co.uk/strategy/battles.html), it is possible to fail a distant battle relief mission by sending an extremely powerful relief force. I'm guessing this is because the strength is represented with a single byte and thus overflows for values greater than 255.

Is this something that can be fixed in Julius without breaking

[2020-08-26 15:35] ralphcook opened #512 "Cart from 'getting' granary sometimes gets no load"
I've rotated the given Londinium map. There are two granaries visible, both set to getting wheat; the cart from the more Northern granary is just returning. Wait a short time, and carts from both granaries set out.

While the first cart is crossing the bridge to the Southern island, a message from Ceres appears, followed by one from Mars (we're actually having a short battle at the moment). Also,

[2020-08-27 07:02] bvschaik commented on #512
Hi Ralph, thanks for the detailed report.

I loaded the saved game in Julius: your granary on the farmland has had a blessing of Mercury, so it contains 600 fruit, 600 vegetables and 600 meat. There's only room for 600 more wheat. Getting cartpushers can take up to 800 wheat at the time.

What happens in the 4 trips I watched:

1. granary contains 600 wheat, getting cart 1 loads up all 600, gettin

[2020-08-27 07:02] #512 closed

[2020-08-27 07:08] bvschaik commented on #511
You're right, the strength is stored in an unsigned byte, which has range 0-255.

Unfortunately this cannot be fixed without breaking savegame compatibility: the army's strength is calculated when you send the relief force, and then stored in a 1-byte field in the savegame. Fixing it would require expanding the field.

[2020-08-27 07:08] #511 closed

[2020-08-27 07:20] crudelios commented on #511
This is a good fix for Augustus though.

[2020-08-27 09:07] ralphcook commented on #512
My apologies - at least it was easy (for you) to find out what was
happening. I must have mistaken which trip to the farmland granary was
being executed when I got to the lower-resolution Caesar III game I tried.

And, of course, there's no way for granaries to be set to get fruit in
Londinium. But that's the way Caesar III works, also...

rc

On 8/27/2020 3:02 AM, Bianca van Schaik wrote:

[2020-08-29 17:36] Banderi opened #513 "Documentation on file formats"
Hello there!

I'm amazed by the amount of work poured into this project, so I was trying to go through the code a bit and poke my head at other games like Pharaoh, and got stumped on the internals of the graphics system. I was wondering if there was any notes or documentation or explanation for how they are handled by Julius and how the file formats work.

So far what I was able to piece together,

[2020-08-29 18:50] bvschaik commented on #513
Hi! Nice to hear you're interested in the graphics file formats.
I've also written a utility to read the images in the graphics files for all Impressions citybuilder games called SGReader ([Github repo](https://github.com/bvschaik/citybuilding-tools)). I've written [documentation](https://github.com/bvschaik/citybuilding-tools/wiki/SG-file-format) for the file format on the wiki of that project.
I

[2020-08-29 19:15] Banderi commented on #513
Ooh, that is immensely helpful! Thanks so much for the swift response!

For the moment the only curiosity I had is if there's any particular reason the "Empire" map data is stored separately? I assume just for performance since the only part that's used is the bitmap?

I'll post here any other question if I get stuck again and/or progress on my endeavor if that's alright.

[2020-08-29 19:25] bvschaik commented on #513
My guess is performance and disk space.

Every time you switch to a savegame with another climate (northern, central, desert), the game switches to a different graphics set: C3_North.sg2, C3.sg2, C3_South.sg2 respectively, including corresponding .555 file. Since the empire is the same in all climates, it doesn't make sense to duplicate 4MB of data three times in the .555 files. You see the same w

[2020-08-30 22:12] Banderi commented on #513
I'm looking through the .sg3 at the moment, and I guess it's worth sharing here, the header size (normally set to 20000 or 20608 for buffer padding after the group index) has 20,000 additional bytes for Pharaoh files making the header 40608 when using the same parsing in the code.

I assume it's actually known info since the SGreader tools can open them just fine, but couldn't find this mentioned

[2020-09-01 17:24] Banderi commented on #513
Is there any documentation/info on how the .sav and mission1.pak files are loaded, by any chance?

[2020-09-01 17:43] bvschaik commented on #513
The header is actually only 80 bytes long, plus 300 index entries. The rest of what you consider the header are bitmap records, and the number of those depend on the value in the header at position 20 (see the link I posted earlier). For C3's SG2 files, that's 100, for SG3 files it's set to 200.

There's no documentation for the .sav/.pak/.map files since nobody has asked for it yet. `mission1.pak

[2020-09-01 19:44] Banderi commented on #513
Ahh, that makes sense. I said header because the code calls it `HEADER_SIZE` and sets a fixed value that isn't immediately explained in the doc.

I'm going through it right now! I'm trying to load Pharaoh's `mission1.pak` but it's crashing on the decompression of the third "file piece", maybe some offset issue. Any info at all, even if it's a small summary of the loadup process, would be immensely

[2020-09-02 05:35] bvschaik commented on #513
The Julius code is tailored to what the Caesar 3 files contain, so I hardcoded it to avoid unnecessary complexity in the code.

Note that every game (and later even every game version) has a different format for storing data in the saved games.  You cannot take the code for Caesar 3 and expect the same fields to be present in Pharaoh saved games. For one, the map grids have a different size, plus

[2020-09-04 05:53] nanawel commented on #510
I can confirm this issue with an up-to-date Archlinux x64 and the latest Julius, on XFCE too.
It used to work perfectly well, but it started crashing a few weeks ago, probably after a system upgrade.

[2020-09-04 08:06] bvschaik commented on #510
I've tried this out on a VM with Manjaro, but both windowed and fullscreen mode start properly for me. The whole screen flickers but I suspect that's the VM acting up since it's also doing that in XFCE.

More questions:
- @nanawel Is it also freezing for you on "Creating screen" or does it actually crash? If it crashes, could you post the output when you run it from a terminal? Do you also have an

[2020-09-04 08:34] #505 closed

[2020-09-04 09:21] nanawel commented on #510
Hi @bvschaik, thanks for taking the time to help.

Here's the console log when starting the game:
[code]

I have an Intel CPU (i7-4771).
It **works** when using the `c3.inf` you gave! :smile: (but it starts in a windowed mode as expected)

[2020-09-04 09:48] bvschaik commented on #510
So fullscreen mode is the problem here. What happens if you start the game in windowed mode and then move to fullscreen by pressing F6? Does that work or does that freeze the game as well?

[2020-09-04 09:51] nanawel commented on #510
It works perfectly and I get the game in fullscreen and this output in the console:

[code]

[2020-09-04 11:28] crudelios commented on #510
@nanawel Once you exit the game in fullscreen, can you reopen it and does it restart in fullscreen or does it hang again?

[2020-09-04 11:29] nanawel commented on #510
It hangs again unfortunately.

[2020-09-04 11:36] crudelios commented on #510
That narrows it down to `SDL_CreateWindow`. @bvschaik, a workaround is to start the game as windowed then immediately set it to fullscreen, which should (hopefully) fix the issue.

[2020-09-04 11:40] bvschaik commented on #510
I'll have a look at the SDL source code to see if I can divine the cause of this.
One more question: @nanawel do you have multiple screens?

[2020-09-04 11:55] nanawel commented on #510
I do. I have two.

[2020-09-04 11:59] mixalis1987 commented on #510
I have one.  Screen, and it does it.
I used arch in a vm last night and for the hell of it, I installed Caesar 3
with Julius. Julius starts better but once when I started it, it did the
same as Manjaro and didn't start. Screen flash and then nothing.

On Fri, 4 Sep 2020, 12:56 Anaël Ollier, <notifications@github.com> wrote:

[2020-09-04 12:09] crudelios commented on #510
@mixalis1987 Try using the `c3.inf` provided by bvschaik to see if at least the game starts, please.

If it does, you can maximize the window but don't set to fullscreen, otherwise it'll crash again when you restart the game.

[2020-09-04 12:28] mixalis1987 commented on #510
Whoops, didn't see that c3.inf comment. Just tested and it works. Have to remember to keep switching back to window mode before quiting the game.

[2020-09-04 13:24] crudelios commented on #510
No problem, hopefully we'll eventually fix this.

[2020-09-06 01:41] Banderi commented on #513
Phew! I've put together a doc with all the info I could gather up together so far!
https://github.com/Banderi/Ozymandias/blob/master/doc/wiki/SAV-file-format.md
I left in most of the chunks that at first glance appeared to remain aligned/unchanged from Caesar 3 with the same descriptions, but I'm sure most of them will need to be tweaked or repurposed (like the "aqueduct" data chunk or, as you men

[2020-09-07 18:14] bvschaik commented on #513
To be honest I don't know as much about the Pharaoh savegame format, so I can't really comment on it.

[2020-09-15 01:29] jxjxjhjh opened #515 "AppImage does not work - libtinfo.so.5 is not packaged"
linux manjaro
appimaes
Applications

1.下载c3
2.下载julius*.appimage
3.run julius*.appimage
不会启动程序

[2020-09-15 13:08] crudelios commented on #515
After translating the question, it seems to be a duplicate of #510.

[2020-09-15 14:45] jxjxjhjh commented on #515
我的问题是，我不知道游戏目录应该放在哪里，我放在 /home/jxjxjhjh/Applications/c3 并没有用

[2020-09-15 15:06] jxjxjhjh commented on #515
通过终端运行确定问题是缺少两个库
./ju*appimage

error while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory

yay -S libtinfo5

error while loading shared libraries: libselinux.so.1: cannot open shared object file: No such file or directory

yay -S libselinux

OK!

manjaro gnome 20.0.3 mini

[2020-09-15 16:22] crudelios commented on #515
@bvschaik May not be a duplicate after all. Maybe some missing appimage dependencies? I don't have enough knowledge about appimages to help :/

[2020-09-15 20:59] bvschaik commented on #515
@crudelios I'll have a look tomorrow. I still have the Manjaro virtual machine from trying to reproduce #510.

[2020-09-16 08:00] bvschaik commented on #515
I can reproduce this starting with the dev AppImage from August 31. Something changed in the build so that it doesn't include some libraries anymore. I'm investigating how this happened and how to fix.

Missing libraries:

- /usr/lib/x86_64-linux-gnu/libvorbisenc.so.2
- /lib/x86_64-linux-gnu/libtinfo.so.5
- /lib/x86_64-linux-gnu/libselinux.so.1
- /lib/x86_64-linux-gnu/liblzma.so.5
- /lib/x86_64-li

[2020-09-16 14:06] bvschaik commented on #515
@jxjxjhjh Could you try the [latest version](https://bintray.com/bvschaik/julius-dev/linux/_latestVersion#files)?

I reverted to the previous version of `linuxdeploy`, which is used to create the AppImage, as a temporary measure. I have created a [bug report](https://github.com/linuxdeploy/linuxdeploy/issues/145) for LinuxDeploy, hopefully we can fix this properly upstream.

[2020-09-16 19:18] bvschaik commented on #510
I've tried again on a virtual machine which has been upgraded to the latest Manjaro packages but I still cannot reproduce the freeze. It does have trouble getting the screen to show up in VirtualBox so at least something changed related to the graphics drivers, which may be the cause.

@mixalis1987 or @nanawel: could you perhaps switch to the [Git version of julius-game](https://aur.archlinux.org/

[2020-09-16 19:28] crudelios commented on #510
Also, @nanawel, what's your graphics card?

[2020-09-16 19:43] mixalis1987 commented on #510
@bvschaik I just switched to git version and it did it again. The terminal output is.
INFO: Julius version 1.4.1.134-e2a27899
INFO: Initializing SDL
INFO: SDL initialized
INFO: Loading game from working directory
ERROR: 'c3.eng' or 'c3_mm.eng' files not found or too large.
INFO: Loading game from base path /usr/bin/
ERROR: 'c3.eng' or 'c3_mm.eng' files not found or too large.
INFO: Loading game fr

[2020-09-16 20:00] mixalis1987 commented on #510
@bvschaik Because its working for you, maybe this video will help show it in action.
https://youtu.be/PSdNT67bcdk

[2020-09-17 06:33] bvschaik commented on #510
@mixalis1987 Thanks, we now know that the problem is not in creating the window but probably the renderer. I've added some more logging. Could you update and try again? I'd like to get the terminal output for both the fullscreen with lockup, and the one for windowed mode when it starts normally.

Your video on youtube is private, so I can't see it. It would be helpful though.

[2020-09-17 13:23] mixalis1987 commented on #510
@bvschaik Ok, I did as you asked.
The output when it freezes is:
[code]
And the output when it works windowed mode:
[code]

[2020-09-17 15:09] bvschaik commented on #510
@mixalis1987 Thanks! It's clear now that it hangs when creating the OpenGL renderer for the window. I fear this is not something we can fix in Julius, but I'm still interested in the cause so we can report it to Manjaro/Arch/SDL to get it fixed.

Could you make your youtube video public so I can see what it looks like? Perhaps that gives me a clue where it goes wrong.

For now, please use the work

[2020-09-17 15:43] nanawel commented on #510
I'm not at home to try for the next days but I can tell you I have a
GeForce GTX760, if it's of any help.

Le mer. 16 sept. 2020 21:28, José Cadete <notifications@github.com> a
écrit :

[2020-09-17 15:50] mixalis1987 commented on #510
@bvschaik the video is public now.

[2020-09-17 21:27] mixalis1987 commented on #510
@bvschaik This is the GPU I have.
[code]

[2020-09-21 12:06] bvschaik commented on #510
I've reported this to the [SDL bug tracker](https://bugzilla.libsdl.org/show_bug.cgi?id=5292). Let's hope they either know how to fix this, or where to report this further if it's outside SDL.

[2020-09-21 21:40] mixalis1987 commented on #510
Awesome. Let's see what they will say now.

[2020-09-22 12:07] #515 closed

[2020-09-22 12:08] bvschaik commented on #515
The bug in LinuxDeploy has been fixed: the AppImage is generated correctly again.

[2020-10-16 09:02] bvschaik commented on #415
With the next release nearing, we need a few new strings to be translated. Could you provide the translations for the strings below?

French: @constant-current
- [ ] Disable right click to drag the map
- [ ] Clone building under cursor
- [ ] Construction hotkeys

German: @m-mohr
- [ ] Disable right click to drag the map
- [ ] Clone building under cursor
- [ ] Construction hotkeys

Italian: @basile

[2020-10-16 09:07] virror commented on #415
"Slå av högerklick drar kartan"

[2020-10-16 09:16] fetchinist commented on #415
Disable right click to drag the map
오른 클릭 드래그 화면이동 끄기

Clone building under cursor
커서 아래에 있는 건물 복제

Construction hotkeys
건설 단축키

[2020-10-16 09:49] m-mohr commented on #415
German: Made you PR #518

[2020-10-17 00:37] constant-current commented on #415
Hello everybody, I hope you all are okay.

Disable right click to drag the map
Désactiver le clic droit pour déplacer la vue de la cité

Clone building under cursor
Cloner le bâtiment sous le curseur

Construction hotkeys
Raccourcis de construction

[2020-10-18 19:32] devnoname120 commented on #320
@crudelios This can be closed now, right?

[2020-10-18 22:40] Pyronia opened #519 "There's no julius.exe, shame on you"
The issue is so obvious there is no need to describe it. Wish you lovely stay in Hell.

[2020-10-18 22:41] Pyronia commented on #519
The issue is so obvious there is no need to describe it. Wish you lovely stay in Hell.

[2020-10-19 06:12] basilero commented on #415
**Disabilita lo spostamento della mappa col tasto destro**
or
**Disabilita il tasto destro per spostare la mappa** (shorter version).

**Abilita il pannello militare.**

[2020-10-19 06:29] bvschaik commented on #519
I've actually been in [Hell](https://www.google.com/maps/place/7517+Hell,+Norway/@63.4444475,10.8872628,15z/data=!3m1!4b1!4m5!3m4!1s0x466d16fb3ae6fd6d:0x1596b57897c52a6b!8m2!3d63.4451715!4d10.9052167) and it looked like a nice town, albeit a bit too close to the airport.

Maybe you need to [follow the instructions](https://github.com/bvschaik/julius/blob/master/doc/RUNNING.md#windows)?

[2020-10-19 06:29] #519 closed

[2020-10-19 07:27] crudelios commented on #320
It will as soon as #516 is merged.

[2020-10-20 20:33] onurarpapay opened #520 "Add scaling options to the config window"
Is there a way to change to another full screen resolution?

I appreciate that julius supports 1920x1080 resolution, but I think either a zoom feature or a possibility to select another full-screen solution like 1280x720 or 1366x768 would be very good for our eyes :)

[2020-10-20 21:00] crudelios commented on #520
There is a way to define different resolutions, which is to use the `--display-scaling` command line argument.

If you use the line `--display-scaling 1.5` at 1920x1080 you'll get 1280x720!

[2020-10-21 06:30] onurarpapay commented on #520
Wow thanks, I guessed that there might be a command line option for that. I will try today evening and report the result.

Can you please add this information to Wiki? If there are any other helpful command line options, we'd be thankful if you'd add them to wiki as well. Thanks!

[2020-10-21 06:33] bvschaik commented on #520
For now the information is in the [Running.md file](https://github.com/bvschaik/julius/blob/master/doc/RUNNING.md#command-line-options). I plan to move it to the wiki soon.

Also, we're going to add both display and cursor scale to the configuration options (main menu -> options) in the near future.

[2020-10-21 06:48] onurarpapay commented on #520
You're right, I missed that. Thanks.

[2020-10-21 08:07] crudelios commented on #520
Glad it's sorted. I'm going to change the description of the issue to "nag" us until we implement the config option.

[2020-10-21 16:26] crudelios commented on #415
Can you please also provide smaller translations to the following strings?

These became too big since we added the scrolling widget to the config menu.

French @constant-current:

- [ ] `Voir la zone d'effet en plaçant des réservoirs, des fontaines et des puits` - Truncated at `fontaines et des`
- [ ] `Corrige “Nouvel Empereur” et la survie des parties crées avec l'éditeur` - Truncated at `avec l

[2020-10-21 20:02] #320 closed

[2020-10-22 01:40] constant-current commented on #415
Voir la zone d'effet en plaçant les bâtiments de distribution d'eau

Corrige “Nouvel Empereur” et la survie des missions de l'éditeur

[2020-10-22 12:23] m-mohr commented on #415
@bvschaik As I never really understood this option (have not used/played custom missions), I can't correctly translate this without further explanation what this does. I just don't know what I can leave out so that it's still understandable.
If you'd need to shorten the original "Fix Emperor change and survival time in custom missions", how would you do that? Maybe that gives me a better idea how

[2020-10-22 14:47] crudelios commented on #415
As of #521, the text will be ellipsized when it doesn't fix. This is a temporary solution as we want smaller strings.

@m-mohr The "emperor change" is due to the fact that when the emperor changes, the original game does nothing but it should reset the favour to 50.

The "survival time in custom missions" forces you to play for the entire "survival time" even if you meet the rest of the winning cr

[2020-10-22 14:53] m-mohr commented on #415
@crudelios Thanks, still don't completely understand it. So what exactly does this option enable? What is fixed in Julius? The Favor resets to 50 and you need to play longer, until ...? I must admit I even find the English option "Fix Emperor change and survival time in custom missions" confusing.

[2020-10-22 16:04] crudelios commented on #415
@m-mohr

In vanilla C3, the emperor change only displayed the message but did not actually revert the favor to 50. This is fixed in Julius if that option is active. If you set the option, if your favor is 10 before the emperor change it will jump to 10, if it is 90 it will also go back to 50.

Either in C3 or in Julius with the fix, you need to reach the scenario's required favor to win.

For the

[2020-10-22 16:21] m-mohr commented on #415
Thanks, I guess it would be easier to understand if that were two separate options. Describing that in a single line is nearly impossible. You need to know what it means otherwise you're likely confused. My translation in the game is pretty bad having your explanations in mind.

The shortest I can come up with at the moment is:
`Korrigiere Gunst bei Imperatorwechsel und Zeit in eig. Missionen`  @b

[2020-10-22 16:23] bvschaik commented on #415
Thanks!
Don't spend too much time on it though, we're discussing to either remove this option or reduce it to just the Emperor change since it doesn't really match the goals of Julius (vanilla gameplay).

[2020-10-22 16:25] m-mohr commented on #415
@bvschaik Okay, I just updated the translation once again above. I think that's my last attempt ;-)

[2020-10-22 18:24] constant-current commented on #415
I too recall having trouble to understand this option but finally found the full description into the [Configuration](https://github.com/bvschaik/julius/wiki/Configuration) wiki page. The hardest part was to match the character limit when trying to stay descriptive enough for players. It appeared to be quite unsatisfying for many translators.
IMHO, those may be two separate options or a more globa

[2020-10-24 17:32] bvschaik commented on #513
Since there have been no more questions, I'm closing this issue :)

[2020-10-24 17:32] #513 closed

[2020-10-24 17:36] bvschaik commented on #455
Right-click to drag the map can now be disabled in the options.

[2020-10-26 10:07] onurarpapay opened #522 "Add "Don't show again" to "Wrath of God" dialogs."
In some levels, we intentionally choose to neglect one god, for example in Lugdunum I don't need Neptun and in Tarsus Ceres isn't necessary. Neglected god sends his/her wrath upon us and we get informed about this in a dialog with a nice video. But it gets repetitive and pointless if we KNOW that we neglected that god and we are OK with the disaster they send to us.

An e.g. "Don't inform about th

[2020-10-26 19:32] bvschaik commented on #522
Thanks for the suggestion. However, this will not be implemented in Julius for the following reasons:
1. Adding an option requires adding new texts to the game, which is something we do not accept for the main game, particularly since we're currently supporting 12 languages and maintaining translations for all of them is troublesome.
1. Adding this option to the message dialogs is not possible sin

[2020-10-26 19:32] #522 closed

[2020-10-26 19:34] onurarpapay commented on #522
Thanks for the reply.

[2020-10-27 17:32] bvschaik commented on #507
All issues are fixed in the [patched files](https://github.com/bvschaik/julius/wiki/Patches) for Simplified Chinese.

[2020-10-27 17:32] #507 closed

[2020-10-28 01:57] julealgon commented on #520
Is there documentation anywhere detailing how the current display scalling system works? I just stumbled upon this repo and wanted to see if I can play with integer scaling over some of the original resolutions (like 640x480 scaled to 1280x960).

[2020-10-28 08:29] crudelios commented on #520
If you scale by an integer value (2, 3, etc), there won't be blur but it may be too big a scale.

This is not easy for us to fix because it's a problem with SDL.

[2020-10-28 08:31] bvschaik commented on #520
Integer scaling shouldn't result in blur, but the other ones will result in some amount of blur, yes.

Julius uses SDL texture scaling, with the [RENDER_SCALE_QUALITY hint](https://wiki.libsdl.org/SDL_HINT_RENDER_SCALE_QUALITY) set to "nearest" for integer scaling, and "linear" for the others. Not sure what can be improved there, if anything.

NB: I'm working on adding these options to the config

[2020-10-28 10:03] LuPoNe81 commented on #415
Hi, I did fix a couple of typos and corrected a couple of terms in the Italian translation, please find only the affected lines, corrected, quoted below:

[2020-10-30 22:10] ade-x1 opened #523 "Error - Wrong folder selected"
Hello team,

I am trying to use Julius on Catalina for the first time but when I try to select the folder containing my copy of the game containing the installer it says that the selected folder doesn't contain the game.

Can this be due to the fact that the game is the very first version? I took a copy of the files from my old original CD

Many thanks!

[2020-10-31 09:11] crudelios commented on #523
Hi, well maybe we explained ourselves wrong.

You do need to install the game from the CD, then point Julius to the installed C3 folder.

Also, if you install C3 on Program Files, you may need to run Julius as administrator for the saves to work (you will be able to load but nothing will save due to lack of pernissions). Ideally you should install C3 somewhere else, like on C:\Games\C3.

[2020-10-31 09:19] bvschaik commented on #523
You indeed need to find a way to install the game on your Mac. If you have access to a Windows machine, you can install there and move the files to your Mac. Alternatively, you can use the command-line tool `unshield` (can be installed through homebrew) to extract the contents of your CD installation.

I have a tool in the planning to automate this, but I haven't started work on it yet.

[2020-10-31 09:24] ade-x1 commented on #523
Thank you for your reply!
As I don’t have a Windows machine and I am using Catalina, I’ll try via command line.

Many thanks!

[2020-10-31 09:38] #523 closed

[2020-10-31 09:39] bvschaik commented on #415
Hi @LuPoNe81, thanks for the corrections. For the overlay texts: Caesar 3 itself uses "tabella". I suppose that's the reason that the current translation uses that instead of "Sovraimpressione", which may be a more accurate term. Do you agree we should keep using "tabella" there?

[2020-10-31 17:11] LuPoNe81 commented on #415
Hi @bvschaik , thanks for your reply and also for raising that question. While the original Caesar 3 uses the term "Tabella" in italian for an overlay it's conceptually wrong. I looked for Caesar 3 screenshots to show you what could essentially be described as a "Tabella" in the game (which is essentialy a chart, a scheme of data), and you can find it below:
![00001163](https://user-images.githubu

[2020-11-01 10:26] bvschaik commented on #523
Step-by-step instructions using `unshield`:

1. Get `unshield`, you can install it through Homebrew: `brew install unshield`
1. Open a Terminal in the directory where you want the Caesar 3 files
1. Execute the following command to extract the installer (replace `{CD}` with the name of your C3 cd-rom):
[code]
1. Remove all directories except the one named `Exe` (in my case I could remove OLEAUT, SI

[2020-11-02 17:50] julealgon commented on #520
@bvschaik / @crudelios  any reason you are not using SDL's native integer scaling option?

This is how I added support for integer scaling in DevilutionX:
- https://github.com/diasurgical/devilutionX/pull/785

Then, once custom resolutions were introduced to the game, it was very easy to support 960x540 integer scaled by a factor of 2 to get 1920x1080, which is probably the settings I'd play with

[2020-11-02 18:11] bvschaik commented on #520
We're not using that for two reasons:
1. We didn't know that function existed
2. Caesar 3 doesn't have a fixed resolution like Diablo: the interface can support any resolution, so this is of less use.

From what we know (which is not much, to be honest), most people seem to use the scaling option to either fix the game not running well on HD displays, so they use a display scale of 2, which automa

[2020-11-02 18:11] crudelios commented on #520
@julealgon

Using `SDL_RenderSetIntegerScale` seems to simply letterbox the game.

The [SDL manual page](https://wiki.libsdl.org/SDL_RenderSetIntegerScale) states precisely that:

That is not what we want. We want the game to take the whole window. The only way to do that (that I know of), without having inconsistent pixel sizes, is to use filtering.

[2020-11-02 19:14] julealgon commented on #520
@bvschaik

Fair enough.

I'm aware that Caesar has in-game resolution settings. However, I disagree with your claim that this in turn has "less use". Increasing the resolution to 1080p creates the "playing with ants" problem, as all assets are reduced in size dramatically along with the UI since they are not DPI-aware. With integer scaling, people are allowed to play with graphics that are a littl

[2020-11-02 20:02] crudelios commented on #520
Ah, so we are talking more or less about the same.

When we mention a scale value of 2, it means the internal resolution is expanded 2x. When using integer scaling (2x, 3x, 3x or the maximum of 5x) there already are no artifacts and Julius behavea as you described.

However, we also allow granular scaling (for example 1.5x). When using such scaling, to avoid artifacts, the filter is applied.

In t

[2020-11-02 20:27] julealgon commented on #520
Seems like the latest release does indeed work perfectly when `--display-scale 2` is set! Thanks for clarifying @crudelios and @bvschaik

[2020-11-04 20:54] nathanbsouza opened #526 "Building's Shotcuts Overriding Restrictions"
Just reporting: I found a bug/glitch that overrides some event-related restrictions on building edification. I was playing the first mission of the campaign and the prefecture and engineering's post were supposed to be disabled until a fire or building collapse took place. It turns out that if you have the shortcuts binded for those buildings, you can override this event-related restriction and bu

[2020-11-04 20:59] crudelios commented on #526
Nice catch!

[2020-11-04 21:45] onurarpapay opened #527 "Pottery workshop has 40+ clays stored!"
I have two pottery workshops with lots of (40+) clay stored in Tarsus campaign. I can't exactly tell how this happened, unfortunately. I have two saved games, one of which has non glitched pottery workshops and the second one has the glitched ones.

My (unsuccessful) city has two separate road networks. One for villas and one for others. Both have one dock each. Clay traders stop by the dock for t

[2020-11-04 21:46] bvschaik commented on #526
Nice find indeed! I checked: if the scenario doesn't allow structures, it will not be possible to build them using the hotkeys. Since prefect and engineer's post will be enabled later in the tutorial mission, it's possible to build them. I'll have a look.

[2020-11-04 21:54] #526 closed

[2020-11-04 21:55] bvschaik commented on #526
Should be fixed in the latest version, thanks!

[2020-11-04 22:02] bvschaik commented on #527
Thanks for reporting the issue. However, this is a behaviour that's also present in Caesar 3. See this [old thread at Caesar 3 Heaven](http://caesar3.heavengames.com/cgi-bin/forums/display.cgi?action=ct&f=2,6506,600,all) for a discussion on it.

It's caused by having multiple disconnected parts in your city, with workshops in both parts. The actual bug is caused by an over-eager warehouseman decid

[2020-11-04 22:02] #527 closed

[2020-11-05 03:51] nathanbsouza commented on #526
Thank you too! I more than glad to help.

[2020-11-05 06:01] onurarpapay commented on #527
Thanks for your reply, I will do more research than just searching on Google next time before reporting a bug. Sorry.

[2020-11-05 06:16] bvschaik commented on #527
No worries. I'd rather have more bug reports than that people don't report things they find 😃

[2020-11-05 07:31] onurarpapay commented on #527
But I have to add that I have pottery workshops on the other side of the city as well. So in the other road network, I have several pottery workshops (about 6 or 7) and a clay warehouse. I will try again to see whether those workshops were already stocked to brim...

[2020-11-05 08:06] bvschaik commented on #527
In the other road network, there's most likely at least one workshop not stocked well enough.

Let me explain how the warehouses work:
1. Every once in a while the warehouse checks whether there's a job to do for the warehouseman. If the warehouse contains clay and there is at least one workshop anywhere in the city (reachable or not) which has less than 2 clay stored, it will spawn a warehouseman

[2020-11-05 08:29] onurarpapay commented on #527
Thank you for the explanation.
I think I understood the nature of the bug. though I was not able to reproduce the bug yesterday night with speed-running my city. I will try again.
Do you think that I can fix the bug for my own use only, if I can locate the code which spawns the warehouseman to deliver clay? Do you know whether augustus has the bug as well?

[2020-11-05 09:15] crudelios commented on #527
Augustus has the bug too and I'm not sure it's trivial to fix, but then again I haven't really delved into that part of the code.

Btw, your issue report is always useful because now we have a new "original bug" listed.

[2020-11-05 10:37] bvschaik commented on #527
The warehouse worker task is determined [here](https://github.com/bvschaik/julius/blob/c695bb010a06fb231f8c986caaeb9b6ec37d47d2/src/building/warehouse.c#L488). The function `city_resource_has_workshop_with_room()` uses a city-wide cached variable, an integer indicating number of workshops with room for raw materials, for performance reasons.

The actual worker action is [here](https://github.com/b

[2020-11-05 13:21] onurarpapay commented on #527
I hoped for an already-implemented function like "resource_building_in_range_with_room()" but apparently I am out of luck :)

[2020-11-07 14:39] Riww commented on #527
I think the function "building_get_workshop_for_raw_material" needs to be modified to only return true for workshops with up to 2 raw material stored. Maybe add a parameter/clone it just for the call under priority 6.

[2020-11-07 23:28] catch220 commented on #415
Sorry for delay. If translation still needed:

Disable right click to drag the map = Откл. клик правой кнопкой для перемещения по карте
 Highlight legion on cursor hover = Подсвечивать легион под курсором
 Clone building under cursor = Клонировать здание под курсором
 Construction hotkeys = Клавиши постройки зданий

To fix truncated string:
Исправить баг Императора и времени выживания в "Конструкт

[2020-11-08 07:14] bvschaik commented on #527
That's exactly what `building_get_workshop_for_raw_material_with_room` already does, which is priority 2.

[2020-11-08 07:45] Riww commented on #527
Then up to 3 material. Or maybe removing the whole priority 6 would have no effect?

[2020-11-09 23:07] crudelios commented on #510
We had no answer from the SDL team in a month and a half. Should we add a workaround for linux? (Start on windowed mode and immediately convert to fullscreen)

[2020-11-09 23:13] mixalis1987 commented on #510
To be honest I didn't think they would.
Adding a workaround for linux sounds like a good idea.

On Mon, 9 Nov 2020, 23:07 José Cadete, <notifications@github.com> wrote:

[2020-11-11 15:29] crudelios commented on #520
Just an update. We've been working on adding display scale and cursor scale options to the new "Options" window on the main menu:

![Display scale and cursor scale options](https://user-images.githubusercontent.com/6518876/98830686-9b747f00-2432-11eb-97ba-9b192edfe4bf.png)

The implementation is almost ready and will make it very easy to customize the scale of your game.

[2020-11-11 15:42] onurarpapay commented on #520
That's very good to hear, kudos to you guys!

José Cadete <notifications@github.com>, 11 Kas 2020 Çar, 16:29 tarihinde
şunu yazdı:

[2020-11-11 21:06] FOSSHipster opened #528 "Game goes black when I go to task manager"
When I hit ctrl alt delete on Windows 10 while playing Julius, then try going back into the game, the game display goes completely black. I can still hear audio, but I cannot see what is happening in-game. Any recommendations?

[2020-11-11 21:29] crudelios commented on #528
I can confirm this problem. As a workaround, press `F6` twice to go to windowed mode and fullscreen again and the display should reappear.

Strangely enough, this only happens when pressing `CTRL`+ `ALT` + `DEL`, but not when using `ALT`+ `TAB` or the `Windows` key.

[2020-11-12 23:39] m-mohr commented on #528
Could you just twice do the F6 thing programatically when you detect Windows and a CTRL + ALT + DEL somehow? @crudelios

[2020-11-13 10:02] bvschaik commented on #528
The problem will be detecting coming back from the lock screen. Since SDL itself doesn't appear to have support for it, I doubt we can fix this. I'll have a quick look on a VM though to see what we can do.

[2020-11-13 15:38] bvschaik commented on #415
@catch220 Thanks for the translations!
Regarding the Advisors: it also happens on lower resolutions on PC. I've made the space between the items dynamic so everything now fits nicely: top = old code, bottom = new code:
![top-menu](https://user-images.githubusercontent.com/104874/99090176-94827380-25ce-11eb-9bf1-78f6a19abae4.png)

[2020-11-13 17:50] catch220 commented on #415
Thanks for "advisors", it was pretty annoying. Is there "Emperor and time bug" excluded intentionally from settings?

[2020-11-13 17:57] bvschaik commented on #415
Yes, I removed that option today. See the [commit message](https://github.com/bvschaik/julius/commit/5f635ca3e5cbb0d683ac8e697e6a3995257bba02) for the reason behind it.

[2020-11-13 21:02] #520 closed

[2020-11-13 21:10] bvschaik commented on #520
Scaling options are now available in the Options menu 😃

[2020-11-16 13:52] gergelypap opened #532 "All the original MP3 files"
I think I found an original Sierra file dump, which contains all the MP3 soundtracks: http://sierrachest.com/gfx/games/Caesar3/music/

Even an additional one, called `WinAssignment.mp3`, which the wiki does not list.

My suggestions:
- Upload the remaining mp3 files to the mirror link in the wiki.
- Update the wiki page accordingly.

Fun fact: the server seems to be containing lots of original box

[2020-11-16 15:12] bvschaik commented on #532
Those are not the original high-quality MP3 files, they appear to be the .WAV files converted to .MP3 (and .OGG), which still remain low-quality despite being .mp3.

Only the Rome1-5 files were ever released in high quality.

[2020-11-16 15:12] #532 closed

[2020-11-17 07:36] crudelios opened #533 "Saving a screenshot crashes the game on big endian systems"
_Originally posted by @BeWorld2018 in https://github.com/Keriew/augustus/issues/150#issuecomment-728712448:_

On big endian systems (MorphOS in the user's case), pressing `F12` to save a screenshot crashes the game.

Definitely not a nice feature to have!

[2020-11-17 10:44] crudelios commented on #533
@BeWorld2018, @bvschaik just tested saving a screenshot on her PPC virtual machine and it worked, colors and all.

Are you using our internal png library or the system's own png libraries?

[2020-11-17 11:21] gergelypap opened #534 "UI interaction when menu overlays are open"
I often find myself trying to "click away" after I opened the **Overlays** dropdown menu in the top right corner. My intuition based on modern software UIs tells that the Overlays menu should automatically close, and the new action should behave as expected.

Example:

1. Open Overlays menu.
2. Decide that you want build a house instead, click on house icon.
3. Nothing happens, because you first n

[2020-11-17 11:31] BeWorld2018 commented on #533
I am using my own system png, but i can try internal png to test

[2020-11-17 11:46] gergelypap opened #535 "File menu appears in the citizen thumbnail"
When clicking a citizen, who is walking on a bridge (either Low or Ship), the focus thumbnail in the dialog shows the File menu, instead of the citizen. Bug is also present in the original Caesar III.

![image](https://user-images.githubusercontent.com/5883922/99385154-d95d2180-28d0-11eb-8243-7eebf5b95293.png)

![image](https://user-images.githubusercontent.com/5883922/99385590-7a4bdc80-28d1-11eb-

[2020-11-17 12:26] BeWorld2018 commented on #533
so i try to compile with png internal... now F12 working but i have a message "Mods folder can't be found", /mods directory...
I use zlib system... i will test with your internal zlib

Logs (extrait)

INFO: Model loaded
INFO: Loading mod file  mods/aesthetics.xml
ERROR: Unable to create a png struct
INFO: Unable to load image  Ornamental_Tree_01_Top_Layer
INFO: Invalid layer for image  ornamental

[2020-11-17 12:33] crudelios commented on #533
There may be a problem with he external libs. Run cmake with `-DSYSTEM_LIBS=OFF` to force the use of the internal libpng/zlib (and expat in the case of Augustus).

[2020-11-17 12:43] gergelypap opened #536 "Road texture with stairs"
Similarly to roads leading into Granaries, roads leading to stairs should have the correct texture.

![image](https://user-images.githubusercontent.com/5883922/99391504-8ee0a280-28da-11eb-8200-0ee1a1968d8b.png)

[2020-11-17 15:25] BeWorld2018 commented on #533
Ok.... after some research, all is OK with internal libs (Zlib/Expat/Png), no more errors.
Next release for MorphOS will have internal libs.

[2020-11-17 15:44] crudelios commented on #533
All right, since this seems to be some sort of library incompatibility I'll be closing this then. Thanks for your feedback!

[2020-11-17 15:44] #533 closed

[2020-11-17 17:28] gergelypap opened #537 "Stop playing city and speech sounds when the game is paused"
When the game is paused, time basically stops, and it makes no sense that the city still produces sounds and citizens still speak when clicked. Only the sound effects and the music should be playing in pause state.

(It would be even better to stop their sprite animations, but that's another issue.)

[2020-11-17 18:13] crudelios commented on #534
While I don't necessarily agree it should be possible to scroll the city while the overlays menu is open (after all, you're in a menu, not in the city), I do agree that clicking any other button should close up that panel.

However, due to the way the game is structured, it's not possible to easily implement such code. What's possible (and relatively easy) is to close the overlays menu if you left

[2020-11-17 18:16] crudelios commented on #536
I know this one was fixed in Augustus, so it can easily be fixed in Julius. The only thing I have against it is that if you have two roads paralell to the stairs, you'll get a bunch of intersections and it'll look weird.

[2020-11-17 18:19] crudelios commented on #537
Why shouldn't citizens speak when clicked? It's an information menu, independent of the game's actual speed.

[2020-11-17 18:25] gergelypap commented on #537
@crudelios  To me, pause means time and the city stops, people don't move and don't do anything. So why play city sounds? And if we are not playing city sounds, why play speeches?

Anyway, this is more like an realism improvement for me. They still have their phrases in the dialog window, and they can speak if after an unpause.

[2020-11-17 18:27] gergelypap commented on #534
As @bvschaik menioned on Discord, this overlay behavior applies to other menus, such as building buttons and the top menu bar as well.

[2020-11-17 18:32] bvschaik commented on #537
I agree with Crudelios: why block the sounds? I like to pause often to consider what to do next and to check my citizens before they run away from my mouse cursor. If there were no speech or other city sounds I would think the game was broken.

[2020-11-17 18:34] gergelypap commented on #537
@bvschaik Fine, you convinced me not to disable speeches. However, hearing city sounds when paused indicate me that the city is running and people are doing stuff.

[2020-11-17 19:09] crudelios commented on #537
This is a very minor thing, but I actually don't disagree on disabling city sounds (and animations for that matter, but that's a whole different can of worms). Most other games (Cities Skylines comes to mind) also disable city sounds to further reinforce the idea of time being paused.

Either way, in the end of things I feel indifferent to this change.

[2020-11-17 19:12] crudelios commented on #535
This is an old one. When I have the time I can have a look at this to see if it's easily fixable.

[2020-11-17 19:23] gergelypap commented on #537
These very minor things makes this project awesome to me :)

[2020-11-18 09:32] #535 closed

[2020-11-18 09:57] bvschaik commented on #537
I still think we should not change this, for these reasons:
- All games in the series behave like this
- The project goals of Julius state we want the same look and feel of the original. Removing sounds from the paused game is a deterioration of the feel of the game
- Animations are still playing on pause, if I see a theater working, I expect theater sounds every once in a while

So while I apprec

[2020-11-18 09:57] #537 closed

[2020-11-18 10:06] bvschaik commented on #536
It may look weird with parallel roads but It does make the user aware that the access ramp is one big 2x2 road tile, so I think this would be nice to have.

[2020-11-18 20:51] #528 closed

[2020-11-18 20:58] bvschaik commented on #528
This should now be fixed.
@FOSSHipster could you give the [latest development build](https://bintray.com/bvschaik/julius-dev/windows/_latestVersion#files) a try and see if it is indeed fixed for you?

[2020-11-18 21:08] #536 closed

[2020-11-18 21:15] gergelypap opened #540 "Markets don't list foods in the popup dialog until they have them"
I don't know if this is an original bug or intended gameplay, but when you right-click markets when they don't have any food, the food items are not listed in the market dialog window.

When no granary exists, therefore no food can be transferred to a market:

![image](https://user-images.githubusercontent.com/5883922/99588391-cc345580-29ea-11eb-9e92-e5242114568f.png)

When a granary exists and fo

[2020-11-18 21:16] gergelypap commented on #540
I am now seeing the message "they are currently looking for a source of food to sell" now... Sorry, closing.

[2020-11-18 21:16] #540 closed

[2020-11-18 21:42] gergelypap opened #541 "Building bridges should show the cost"
When building roads or reservoirs, dragging the mouse shows the cost of building:

![image](https://user-images.githubusercontent.com/5883922/99591330-ec661380-29ee-11eb-97bc-59d2968f7fa1.png)

![image](https://user-images.githubusercontent.com/5883922/99591396-03a50100-29ef-11eb-86ac-ac8134ca429d.png)

This is not the case with bridges:

![image](https://user-images.githubusercontent.com/5883922/

[2020-11-18 22:09] gergelypap opened #542 "Dragging the minimap should scroll the map"
When dragging the rectangle in the minimap, the real map should scroll as well. Many games have this and I think it would be an enhancement.

[2020-11-18 23:48] crudelios commented on #542
Duplicate of #280, closing.

[2020-11-18 23:48] #542 closed

[2020-11-20 13:31] gergelypap opened #544 "People are visible behind large buildings if they walk on a bridge"
Put any large building in a way that it hides parts of a bridge. People are visible through if they are walking on the bridge:

![image](https://user-images.githubusercontent.com/5883922/99805139-58a25d80-2b3c-11eb-9d14-4411e35a818d.png)

[2020-11-20 14:45] crudelios commented on #544
I had a look at this.

Due to the way the drawing code works, it's not possible for us to fix it without causing other graphical artifacts.

Therefore I'm closing this.

[2020-11-20 14:45] #544 closed

[2020-11-22 11:16] crudelios commented on #541
The reason most recent games always show the cost is because there is extra cost due to terrain inclination or tree removal, which doesn't really exist on C3.

In C3 the building cost is already shown on the menu, so we think it's distracting to always show it.

However, as you mentioned, the bridge is an exception. So we'll be implementing your idea for bridges.

[2020-11-22 11:19] crudelios commented on #534
I've implemented this with an added feature: on the building menu, when a menu is opened, clicking on the same button for that menu will close it.

[2020-11-22 11:22] crudelios commented on #510
I finally tried to reproduce this issue on a Manjaro VM using Virtualbox. Fullscreen works as expected.

I'm thinking this is an actual hardware issue, most likely related to the NVidia drivers.

@bvschaik is reluctant to add a workaround, which I understand - we should not be trying to hack around other code's bugs, especially if they have been reported and are expected to eventually be fixed.

S

[2020-11-22 11:36] crudelios commented on #415
With the latest fixes and commits, we have no pending translation issues. Since this is a jurassic report with lots of comments, I'm closing this. We should open a new one if new translations are needed.

[2020-11-22 11:36] #415 closed

[2020-11-22 23:38] Irv1n3 opened #550 "Allow mp3 support for every wav files"
Hi!

I was cleaning the wav music files to suppress the more noise possible and came to the idea of cleaning also voices files.
I don't think it would have a major impact with the music in the game but you can still hear the difference outside.
A sample here: https://youtu.be/bwASYOY1X80

I was wondering since you support mp3 files to replace some of the original wav if you can enhance this suppor

[2020-11-23 00:02] crudelios commented on #550
Hey, what are you using to clean the audio? I tried it myself but didn't get far.

I think we can add support for this. It shouldn't be hard to implement.

[2020-11-23 00:09] Irv1n3 commented on #550
I only used Audacity and the Noise reduction feature, the most difficult part was to find a good isolated part with only noise, I've tried various files but finally stick with the French version of pupils_needjob1.
Then I used the settings noise reduction 48dB, sensibility 3 and frequency smoothing 1 and batch all wav French and English wav.

I can send you my result but I don't think I can post i

[2020-11-23 00:36] crudelios commented on #550
No unfortunately you can't. I tried using the denoise filter for the intro music, but the end result was far from perfect. I'm waiting for an AI for that.

[2020-11-23 00:55] Irv1n3 commented on #550
Drop me an email to my github username followed by @hotmail.fr
I'm pretty satisfied with what I got for the main menu music, even if it's not as clear as the official mp3 (even with a bitrate of only 128kbps)

[2020-11-23 08:28] crudelios commented on #550
I just had a look at our code, the voices files cannot be open as mp3, only the musics can. You can save the improved voice files as wav and backup the old wav files, however I doubt the new voice wavs will open correctly on the original C3.

[2020-11-23 11:37] gergelypap opened #552 "Granaries should show status messages about cart pushers"
Warehouses and granaries both have a special order called "getting foods/goods". When you click on warehouses, a small status message will indicate what the cart pushers do. (i.e. Our cart is returning from a delivery).

![image](https://user-images.githubusercontent.com/5883922/99957436-fccc1480-2d87-11eb-90a8-0943bb1aaae6.png)

This status message even appears if the warehouse has only Accepting

[2020-11-23 12:53] Irv1n3 commented on #550
Actually I had tested previously to replace directly the wav but it didn't work, but I've tried again with another encoding and it works!
And it works even without Julius with the original C3 😃

[2020-11-23 13:38] crudelios commented on #550
That's great! Does audacity support bash scripting via shell? With that and the noise sample you used, we could at least provide the tools for users to improve their files.

[2020-11-23 14:23] Irv1n3 commented on #550
I don't think so, but I can write a small tutorial:

1. Install Audacity and download this archive
2. Go to %AppData%/Roaming/Audacity/Macros
3. Copy Remove noise Caesar 3.txt
4. Open Audacity
5. Open sample.wav
6. Ctrl+A to select the whole sample
7. Effect -> Noise Reduction -> Get Noise Profile (the window closes itself)
8. Close the sample track and open a testing track, for example SETUP.wav

[2020-11-23 15:06] crudelios commented on #550
Thanks for the instructions. I actually had a look and I think it's possible to create a command-line script using sox instead of audacity.

[2020-11-23 15:20] crudelios commented on #550
I had a look at your settings and for the music they have the same problem I found before when trying to denoise. If you listen to setup.wav with your settings and noise filter, the music becomes much duller. The drums and trombone lack the original "oomph" (you can "feel" it from the first seconds of playback).

[2020-11-23 16:49] #550 closed

[2020-11-23 16:59] Irv1n3 commented on #550
Yep, I'll try to improve a bit the result, at least for voices it's enough because it's much less complex than musics.
You can already get a more clearer sound by lowering the Sensitivity but at the cost of still hearing the noise.
I'll let you know if I found something better!

[2020-11-23 17:33] crudelios commented on #550
I'm still waiting for an AI that would do this for us. Unfortunately audio does not get nearly as much attention as images!

[2020-11-23 21:40] ArtySh0ck opened #554 "Default C3 arrow-cursor by win98 - is a most beautiful thing! (no)"
Hello my favorite JULIUS! It's been so long, but i think a have an idea!

For this, probably, we need services of some designer (maybe not), but it worth...

NEW INTERACTIVE CURSORS for JULIUS! Let it be kind a "Romal" for standart use, it could be still an arrow, but remastered for C3 atmosphere. But it could have a several forms, for example, if we touch npc (market lady, medic, actor, etc..) it

[2020-11-24 08:29] crudelios commented on #554
Hey @ArtySh0ck, long time no see! As Julius wants to keep faithful to the original C3, I think the new cursor types are a better change for Augustus.

Regarding the game being "hard to see", there is now a `Display scale` and a `Cursor scale` option in the main menu options, which make the screen or the cursor larger. Check it out, it might fix your problem!

[2020-11-24 08:29] #554 closed

[2020-11-24 16:58] #541 closed

[2020-11-25 06:54] #552 closed

[2020-11-30 11:17] #534 closed

[2020-11-30 11:42] crudelios commented on #465
This issue has been here, gathering virtual dust, for a while.

Should we implement this? If so, we need to hack a consistent way to detect window minimization/restoration across different platforms.

Otherwise we should just close the issue without actually implementing it.

[2020-11-30 14:45] bvschaik commented on #465
I was also thinking about it this morning. I find it pretty scary to "pause" the game on certain SDL events: there are so many ways in which this can break, because the event system is not consistent across platforms.

So with that in mind I'm closing this issue as wontfix.

[2020-11-30 14:45] #465 closed

[2020-12-08 17:56] crudelios commented on #357
Note that there is now a setting on the `Options` menu on the first screen that allows you to set both the screen scaling and mouse scaling, so there's no need to fiddle with command shortcuts anymore.

[2020-12-20 23:30] crudelios commented on #505
Just a heads up: the visual issue has been fixed, the devolution will be fixed in Augustus (it is a gameplay change for C3 so it will be kept in Julius)

[2020-12-25 11:52] crudelios commented on #510
Just an update: ai have installed Manjaro Linux 20.2 on an actual old laptop with an intel iGPU and the game boots fine on fullscreen. The laptop also has an nvidia gpu but I need to understand how to configure it before testing.

@mixalis1987 does the issue still happen on Manjaro 20.2?

[2020-12-25 12:17] mixalis1987 commented on #510
@crudelios Just tested 7 times and it seems to be working now. :)

[2020-12-25 12:20] crudelios commented on #510
Great! Then it wasn't even an SDL issue. I'm closing this.

[2020-12-25 12:20] #510 closed

[2020-12-30 10:56] bvschaik opened #562 "Translation request: "Display scale" and "Cursor scale""
For the next release, we have two additional settings in the configuration screen, the sliders for "Display scale" and "Cursor scale":

![Scale options](https://user-images.githubusercontent.com/6518876/98830686-9b747f00-2432-11eb-97ba-9b192edfe4bf.png)

A description of the options is [here](https://github.com/bvschaik/julius/wiki/Configuration#display-options).

We need translations for "Display

[2020-12-30 11:04] m-mohr commented on #562
Sure, I've aligned them with Windows terminology:

Display Scale:

Cursor Scale:

[2020-12-30 16:34] catch220 commented on #562
Russian translation, if needed:
"Display scale:"  "Масштабирование изображения в окне"
"Cursor scale:" "Масштабирование курсора"

[2020-12-30 21:44] constant-current commented on #562
I have also aligned with Win10 options and it seems to be quite similar on different Linux desktop environments.
 Display scale "Mise à l'échelle de l'affichage"
 Cursor scale "Taille du curseur de souris"

[2020-12-31 05:58] fetchinist commented on #562
in korean:
Display scale - 화면 배율
Cursor scale - 커서 배율

[2020-12-31 08:45] crudelios commented on #562
@tafazzi maybe you could help with the italian translation, please?

[2020-12-31 15:39] tafazzi commented on #562
Sure! Here are the two options in Italian:

Display Scale:
`Ridimensionamento display`

Cursor Scale:
`Ridimensionamento cursore`

[2021-01-01 08:16] bvschaik commented on #562
Thanks all!

[2021-01-01 08:16] #562 closed

[2021-01-04 19:52] crudelios opened #565 "Mouse cursor is truncated on Switch when docked"
From Tindarey on discord:

[2021-01-05 13:33] felipecrs opened #566 "I have the original PT-BR 1.1 Patch Setup if it's useful"
[C3_PATCH.zip](https://github.com/bvschaik/julius/files/5770384/C3_PATCH.zip)

It has the `Setup.exe`.

[2021-01-06 09:30] DwarfFighterCleric opened #567 "1st impressions / A few suggestions (quality-of-life improvements)"
edit: this is on Windows EXE version...
("UI improvement"? Is it the right section for stuff like this? Anyway...)
I just played Julius for the 1st time and a few things came to my attention right away that got in the way of playing the game, in order of priority:
1) When using keyboard to scroll map, scrolling is not immediate (there's a delay between the time you hold the key and the time it act

[2021-01-06 15:08] bvschaik opened #568 "MP3 playback not working on MacOS"
Reported by @igorgregorio at Gitter:

MacOS version 1.6.0 no longer plays MP3 files despite correct setup. Logging output gives this error:
[code]

Looking at the build history, this started when we migrated CI to Github Actions, which caused the MacOS build to run on 10.15 instead of 10.13.
Apparently something changed in 10.15 which now causes the CMake install tool to skip the dependencies of S

[2021-01-06 15:13] bvschaik commented on #568
Running `otool -L` on the SDL2_mixer library produces this on MacOS 10.14 and earlier:
[code]

On the build slaves running 10.15 provided by Github Actions, this is produced:
[code]

Note the `weak` addition for FLAC, modplug, mpg123, Vorbis and OpusFile. This causes those libraries to not be detected by CMake's BundleUtilities and therefore not be included in the resulting .app.

I think this is

[2021-01-06 15:31] felipecrs opened #569 "English voices are being called when they're missing from the language pack"
I guess some localizations, such as the Brazilian Portuguese one, does not have all the assets that the default (English) version has.

For example, the English have the voices for the boats and the merchants, while in the Brazilian localization there are not.

The default behavior of Julius seems to be: fallback to the default voices when not found in the localization, which is wrong since this w

[2021-01-06 15:41] felipecrs opened #570 "Please enable GitHub discussions"
It would be good if we could leave the questions/tips separated from the real bugs or new features. I suggest you enable the GitHub discussions for this repository.

[2021-01-06 18:27] bvschaik commented on #566
Thanks, I didn't even know there was a 1.1 patch for PT-BR, the version I had was 1.0 unpatched. I've updated the [patch file](https://github.com/bvschaik/julius/wiki/Patches).

[2021-01-06 18:27] #566 closed

[2021-01-06 18:47] felipecrs commented on #566
So what was the version that was in there before? I mean here: https://github.com/bvschaik/julius/wiki/Patches

[2021-01-06 18:52] bvschaik commented on #566
The two language files in which the new strings for 1.1 were fan-translated, see #217

[2021-01-06 18:57] felipecrs commented on #566
Wow. Thanks.

[2021-01-06 19:03] bvschaik commented on #569
This is intended behaviour. The language packs I made myself (which I don't distribute publicly due to copyright reasons) only have the voice files and none of the other sound files to save disk space.

Besides, which .wav files are you missing? I just compared the files in your language pack to the English version, and the files are the same: the "boat*.wav" files in your Portuguese pack are the

[2021-01-06 19:19] bvschaik commented on #570
We thought about this: Julius itself is pretty stable and sort of "finished" now, since the project's goals of having a slightly more modern version of Caesar 3 are reached. We feel there's not much left to discuss in terms of functionality, and the few things that pop up can be handled through issues.

[2021-01-06 19:32] felipecrs commented on #569
Sorry, my bad. My compiled pack is not right. I think I merged PT-BR wavs with the English ones, that's why you see the boat*.wav files. They were not supposed to be there.

Let me try one thing here, then I'll do the testing again and report back.

[2021-01-06 19:35] felipecrs commented on #570
Alright :)

[2021-01-06 19:35] #570 closed

[2021-01-06 19:36] felipecrs commented on #566
I applied the patch in my 1.0 version as well and compared the binaries with yours, they match (just a confirmation). :-)

[2021-01-06 20:47] felipecrs commented on #217
What's weird is that the readme (leiame) says it's version 1.1, while the English version is actually 1.0.1.0. I wonder if they have the same enhancements/fixes.

[2021-01-06 20:50] bvschaik commented on #217
Yes, they do, there was only 1 patch for Caesar 3. The "1.0.1.0" and "1.1" patch versions are the same and the version numbers are used interchangeably in the documentation. Back in the days there was no convention for version numbers, I suppose...

[2021-01-06 20:52] felipecrs commented on #217
Hahaha, that's right.

[2021-01-06 22:08] felipecrs commented on #569
I fixed my compilation, which is now available at the following link if you are interested. I double-checked everything, and this time I did the procedure using the original pt-br disk, so I'm sure everything is right.

@bvschaik

1. The pt-br version indeed does not have any of the boat*.wav files, and the donkey*.wav files, this is the list:

[code]

And it seems that they created one more (`emi

[2021-01-06 22:17] bvschaik commented on #569
I don't like having a separate option for the following reasons:
- there are too many options already
- this hypothetical option will _only_ be useful for the Portuguese version
- using this option incorrectly will result in a silent game apart from speech for all other languages because the language packs I made rely on the "fallback"
- it's for 10 speech files only...

I think I have a better id

[2021-01-06 22:35] felipecrs commented on #569
I believe this might be the case for the other translations: it's tricky to find it just by playing. But anyway, I won't play the game in the other languages so I can accept that this will be only useful for the PT-BR version.

This is a great idea. I'll see what I can do.

[2021-01-06 22:44] crudelios commented on #569
Having some proper voice actors for the missing audio would be really cool. It could even be used in original C3.

[2021-01-07 02:28] felipecrs commented on #569
FYI: https://github.com/felipecrs/caesar3-pt-br-steam-patch#readme

[2021-01-07 14:12] #565 closed

[2021-01-07 18:41] bvschaik commented on #569
By the way, thanks for packinging it in such an easy-to-install format. Some tips for reducing the size of the zip:
- The music files are always loaded from the main Caesar 3 folder, so they can be removed from pt-br: `ROME1-5.wav`, `setup.wav`, `combat_short.wav`, `combat_long.wav`.
- The only videos which have speech in them are the following, the others are the same for all languages:
   - CRED

[2021-01-07 19:47] felipecrs commented on #569
This is amazing, thanks for the tip, the list is already very clear for me. I'll create a PR and ask you to review it if you don't mind.

[2021-01-08 01:04] felipecrs commented on #569
FYI: https://github.com/felipecrs/caesar3-pt-br-steam-patch/pull/1

[2021-01-08 03:37] felipecrs commented on #569
I just released [v2.0.0](https://github.com/felipecrs/caesar3-pt-br-steam-patch/releases/tag/v2.0.0) with this new enhancement. The file size was reduced from 414MB to 309MB.

[2021-01-08 05:14] felipecrs commented on #569
I moved the project to GitLab, since the GitHub has a limit of 100MB per file in the repository. Also, the quotas for Git LFS in GitHub are unfeasible.

This is the new homepage of the project:
https://gitlab.com/felipecrs/caesar3-ptbr-steam-patch/-/blob/main/README.md

[2021-01-08 19:53] bvschaik commented on #568
I opened [an issue](https://gitlab.kitware.com/cmake/cmake/-/issues/21684) at CMake's issue tracker, hopefully this will either get fixed or I get information how to fix this using BundleUtilities.

[2021-01-10 07:05] fetchinist opened #576 "Change price units in Korean version"
I didn't notice because only Julius was playing, but in the original Korean version, the construction price unit is marked as 'Dn', but Julius is marked as a '자금'(funds).

in Original
![qwe](https://user-images.githubusercontent.com/10090909/104116608-5949ba00-535d-11eb-9c39-773bebb17acf.png)

in Julius
![asd](https://user-images.githubusercontent.com/10090909/104116610-64044f00-535d-11eb-8bb9-a44

[2021-01-10 08:39] bvschaik commented on #576
A bit of history: originally, every language would use the fixed string "Dn". This was changed last year to use the string also used in the top menu so it's correct for most languages (#464). All languages besides Korean use the translated variant of "Dn" there, but apparently the Korean translators decided to use "Funds".

I've made an exception for Korean now, so it's fixed in the next build.

[2021-01-10 08:39] #576 closed

[2021-01-10 08:41] bvschaik commented on #569
Not sure what went wrong with the move to GitLab, but the last commit says "Remove unneeded files from the pack" while the file browser still lists all of them...

Anyway, since nothing needs to be done in Julius for this, I'm going to close this issue.

[2021-01-10 09:04] #568 closed

[2021-01-10 09:04] bvschaik commented on #568
I implemented a rather hacky workaround for now. When I get response to the CMake issue I may be able to fix this properly.

[2021-01-10 16:32] felipecrs commented on #569
Wow, thank you so much for noting that. I fixed it (by rewriting the existing commit) and now the pack has only 198MB of size. If you want to review, the list of the deleted files is [here](https://gitlab.com/felipecrs/caesar3-ptbr-steam-patch/-/blob/9a9ee0cf4326beb08b73fb9a5ce96028667f21f2/README.en.md#language-pack).